h1.title::first-letter, #phenoList ul li::first-letter {
text-transform:uppercase;
}

.greyblue {
        color: color:#4e5e6e;
}

h2.title {
  margin-bottom: 0px;
}

.dynatable-pagination-links {
float:right;
}
.dynatable-pagination-links span, .dynatable-pagination-links li {
display: inline-block;
}

.dynatable-pagination-links li {
padding: 0rem 0.5rem;
}

a.dynatable-disabled-page {
color: hsla(0, 0%, 72%, 1);
}

a.dynatable-active-page {
text-decoration : underline;
}

table th {
	border-bottom: 2px solid #e0e0e0;
	height: 2rem;
	vertical-align: bottom;
	padding: 0.5rem 1rem;
}

table td {
	padding : 0.5rem 1rem;
}

#phenoList ul li {
	border-bottom : 1px solid #e0e0e0;
	padding: 0.5rem 1rem;
}

.hero_tag {
        border:1px solid hsla(221,100%,100%,0.6);
        display:inline-block;
        padding: 5px 10px;
        margin-bottom: 10px;
        text-transform:uppercase;
        background-color:hsla(221, 100%, 100%, 0.3)
}

.alt_labels {
line-height: 17px;margin-top: -2rem; margin-bottom: 2rem;display:inline-block;width:80%;
}

#mainmenu {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
}

.margin-top {
margin-top: 2rem;
}

.margin-bottom {
margin-bottom: 2rem;
}

.margin-bottom-large {
margin-bottom: 4rem;
}

.horizontal-margin {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
}

.read-more-state {
  display: none;
}

.read-more-target {
  display:none;
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  display:inline-block;
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #ddd;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

#sankey_legend .anychart-credits {
        display: none;
}

.indic {
  font-size: 0.8em;
  font-weight: normal;
}

.smallmarg {
  margin-left: 15px;
  margin-right: 15px;
}