/* Error: Can't find stylesheet to import.
 *   ,
 * 6 | @import '~bulma-divider';
 *   |         ^^^^^^^^^^^^^^^^
 *   '
 *   src/mystyles.scss 6:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 6 \2502  @import '~bulma-divider';\a   \2502          ^^^^^^^^^^^^^^^^\a   \2575 \a   src/mystyles.scss 6:9  root stylesheet";
}
