{% extends "layout.jinja2" %}

{% block title %}Amylome - Contact{% endblock %}

{% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_purple.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="horizontal-margin">
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h1 class="title">AMYPdb</h1>
                        <h2 class="subtitle">AMYPdb contact form
                            For any questions don't forget to first check in the documentation section
                        </h2>
                    </div>
                    <div class="column">.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="columns">
                <div class="column">
                  <br>
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-danger" type="email" placeholder="Email input" value="name@">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"> </i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Subject</label>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option>Question</option>
                                    <option>Data</option>
                                    <option>How to</option>
                                    <option>Team</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Textarea"> </textarea>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" href="#">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-light"
                                    href="{{ request.route_url(route_name='contact') }}">Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container" style="width: 100%;height: 100%; overflow:hidden " scrolling="no">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeaVpSmqucP0nAYzrZWgmaeebsVm5GS2SRCMKizu0UPGvQIXA/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </section>
{% endblock content %}
