{% extends "layout.jinja2" %}


{% block title %}Amypdb - Search Results{% endblock %}


    
    
  {% block more_scripts %}  
      <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
{% endblock  %}


{% block more_links %}
<!--  <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> -->
        <link href="{{request.static_url('amypdb:static/mystyles_blue.css')}}" rel="stylesheet">

{% endblock %}

{% block content %}


  <section class="hero is-medium is-primary is-bold">
      <div class="horizontal-margin" >
    <div class="hero-body">

      <div class="columns">
         <div class="column is-three-fifths">
        <h1 class="title">Amyloidosis and amyloid-related diseases</h1>

	<h2 class="subtitle">
          Organism : Homo Sapiens
	</h2>
           </div>
           <div class="column has-text-right"> 
           </div>   
        </div><!-- end columns -->


</div><!-- end hero-body -->

 </section>


<section class="section"> 
         <div class="has-text-centered margin-bottom" >
          <h2 class="title">Diseases</h2>
        </div>



        <table id="diseaseTable" class="table is-striped is-fullwidth">
      <thead>
       <th>Id</th>
	<th>Disease</th>
        <th>Description</th>
	<th>Tag</th>
       </thead>
      <tbody>

 {% for item in resultList  %}
 <tr>
<td><a href="{{ request.route_url(route_name='disease', itemId=item.entityId) }}">{{ item.entityId }}</a></td>
<td>{{ item.entityLabel }}</td>
<td>{{ item.description|truncate(100,False) }}</td>
<td>{%if item.qualifier != "" %}<span class="tag is-info">{{ item.qualifier }}</span>{% endif %}</td>
 </tr>

 {% endfor %}

      </tbody>
    </table>





 </section>

 


{% endblock content %}

{% block comp_script %}
<script>
$( document ).ready(function() {


    $('#diseaseTable').dynatable({
  features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });
});
</script>
{% endblock %}

