{% extends "layout.jinja2" %}

{% block title %}Amypdb - Disease - {{ mainInfo["label"] }} {% endblock %}

    
       
  {% block more_scripts %}  
      <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
{% endblock  %}


{% block more_links %}

<!--  <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> -->
    <link href="{{request.static_url('amypdb:static/mystyles_blue.css')}}" rel="stylesheet">
{% endblock %}


{% block content %}
 
  <section class="hero is-medium is-primary is-bold">
      <div class="horizontal-margin" >
    <div class="hero-body">

      <div class="columns">
         <div class="column is-three-quarters" >
        <h1 class="title">{{ mainInfo["label"] }}</h1>
        {% set labels = mainInfo["altList"] %}
        {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
        <p class="alt_labels">Alternative labels :  {{ labels }}  </p>
         <h2 class="subtitle"> {{ mainInfo["description"] }} 
{% if mainInfo["description"] != "" %}
<br />(Source : <a target="_blank" href="https://bioportal.bioontology.org/ontologies/MONDO/?p=classes&conceptid=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2F{{ itemId }}"> Mondo <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) {% endif %} </h2>
 
        </div>

    
           <div class="column has-text-right">
           
           {% set tags = mainInfo["qualiList"].split("|") %}
            {% for tag in tags %}
            <span class="hero_tag">{{ tag }}</span><br />
             {% endfor %}
            

           </div>

        </div><!-- end columns -->


</div><!-- end hero-body -->



<div class="hero-foot">
<div style="margin-left: 2rem">
    <nav class="tabs is-boxed ">

        <ul>
        <li class="heroTab" id="phenotype">
            <a href="{{ request.route_url(route_name='disease', itemId=itemId) }}#phenotype">Phenotype</a>
          </li>
		  <li class="is-active heroTab" id="relDiseases">
            <a>Related diseases</a>
          </li>
          <li class="heroTab" id="relGenes">
            <a href="{{ request.route_url(route_name='disease_genes', itemId=itemId) }}#relGenes">Related Genes</a>
          </li>
          <li class="heroTab" id="relProteins">
            <a href="{{ request.route_url(route_name='disease_proteins', itemId=itemId) }}#relProteins">Related proteins</a>
          </li>
        </ul>

    </nav>
</div>

</div>


</div> <!-- end horizontal-->

  </section>


{% if resultParent|length >=1  %}
<section class="section">

<div class="has-text-centered is-primary margin-top margin-bottom-large" >
<h2 class="title is-primary">Parent Disease</h2>
</div>


<div class="columns is-fullwidth diseaseList">
<div class="column">
<ul>
{% for item in resultParent %}
{% if loop.index > resultParent|length / 3  and loop.index <= resultParent|length * 2 / 3  %}

<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in resultParent %}
{% if loop.index > resultParent|length * 2 / 3  %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in resultParent %}
{% if loop.index <= resultParent|length  / 3 %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
</div>



</section>
{% endif %}



{% if resultChildren|length >=1  %}
<section class="section">

<div class="has-text-centered is-primary margin-top margin-bottom-large" >
<h2 class="title is-primary">Disease sub-types</h2>
</div>


<div class="columns is-fullwidth diseaseList">
<div class="column">
<ul>
{% for item in resultChildren %}
{% if loop.index > resultChildren|length / 3  and loop.index <= resultChildren|length * 2 / 3  %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in resultChildren %}
{% if loop.index > resultChildren|length * 2 / 3  %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in resultChildren %}
{% if loop.index <= resultChildren|length  / 3 %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
</div>



</section>
{% endif %}





{% if resultAssoc|length >=1  %}
<section class="section">

<div class="has-text-centered is-primary margin-top margin-bottom-large" >
<h2 class="title is-primary">Related diseases</h2>
</div>


<div class="columns is-fullwidth diseaseList" >
<div class="column">
<ul>
{% for item in resultAssoc %}
{% if loop.index > resultAssoc|length / 3  and loop.index <= resultAssoc|length * 2 / 3  %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in resultAssoc %}
{% if loop.index > resultAssoc|length * 2 / 3  %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in resultAssoc %}
{% if loop.index <= resultAssoc|length  / 3 %}
<li class="has-text-centered"><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseLabel }}</a></li>
{% endif %}
 {% endfor %}
</ul>
</div>
</div>



</section>
{% endif %}



 

{% endblock content %}

