{% extends "layout.jinja2" %}

{% block title %}Amypdb - Disease - {{ mainInfo["label"] }} {% endblock %}

    
       
  {% block more_scripts %}





<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-sankey.min.js"></script>

  <script> anychart.licenseKey("laurence.noel@etudiant.univ-rennes1.fr-aa5a1d9-129cd39"); </script>

      <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
{% endblock  %}


{% block more_links %}

<!--  <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> -->
    <link href="{{request.static_url('amypdb:static/mystyles_blue.css')}}" rel="stylesheet">
{% endblock %}


{% block content %}
 
  <section class="hero is-medium is-primary is-bold">
      <div class="horizontal-margin" >
    <div class="hero-body">

      <div class="columns">
         <div class="column is-three-quarters">
        <h1 class="title">{{ mainInfo["label"] }}</h1>
        {% set labels = mainInfo["altList"] %}
        {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
        <p class="alt_labels">Alternative labels :  {{ labels }}  </p>
         <h2 class="subtitle"> {{ mainInfo["description"] }}
{% if mainInfo["description"] != "" %}
<br />(Source : <a target="_blank" href="https://bioportal.bioontology.org/ontologies/MONDO/?p=classes&conceptid=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2F{{ itemId }}"> Mondo <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) {% endif %} </h2>

        </div>

    
           <div class="column has-text-right">
           
           {% set tags = mainInfo["qualiList"].split("|") %}
            {% for tag in tags %}
            <span class="hero_tag">{{ tag }}</span><br />
             {% endfor %}
            

           </div>

        </div><!-- end columns -->


</div><!-- end hero-body -->



<div class="hero-foot">
<div style="margin-left: 2rem">
    <nav class="tabs is-boxed">

        <ul>
        <li class="heroTab" id="phenotype">
            <a href="{{ request.route_url(route_name='disease', itemId=itemId) }}#phenotype">Phenotype</a>
          </li>
          <li class="heroTab" id="relDiseases">
            <a href="{{ request.route_url(route_name='disease_related', itemId=itemId) }}#relDiseases">Related diseases</a>
          </li>
          <li class="is-active heroTab" id="relGenes">
            <a>Related Genes</a>
          </li>
          <li class="heroTab" id="relProteins">
            <a href="{{ request.route_url(route_name='disease_proteins', itemId=itemId) }}#relProteins">Related proteins</a>
          </li>

        </ul>

    </nav>
</div>

</div>


</div> <!-- end horizontal-->

  </section>





<section class="section">

<div class="has-text-centered is-primary margin-top margin-bottom" >
<h2 class="title is-primary">Related genes</h2>
<div>Information about the genes associated to {{ mainInfo["label"] }} in Disgenet</div>
</div>

  {% if resultGene|length < 1 %}
<div class="has-text-centered">No information found</div>

{% else %}

        <table id="geneTable" class="table is-striped is-fullwidth">
      <thead>
       <th>Id</th>
           <th>Gene</th>
        <th>Description</th>
        <th>Score</th>

       </thead>
      <tbody>

 {% for item in resultGene  %}
 <tr>
<td><a href="{{ request.route_url(route_name='gene', itemId=item.geneId) }}">{{ item.geneId }}</a></td>
<td>{{ item.geneLabel }}</td>
<td>{{ item.geneDesc }}</td>
<td>{{ item.score }}</td>
 </tr>

 {% endfor %}

      </tbody>
    </table>

    {% endif %}

</section>


{% if resultGene|length > 0 %}


<section class="section">


<div class="has-text-centered is-primary margin-top margin-bottom" >
<h2 class="title is-primary">Associated diseases</h2>
<div>Diseases associated to the genes involved in {{ mainInfo["label"] }}</div>
</div>


   <div id="sankey" style="height:300px;width:100%">
   </div>

<div id="sankey_legend"></div>



</section>


<section class="section">


<div class="has-text-centered is-primary margin-top margin-bottom" >
<h2 class="title is-primary">Associated phenotypes</h2>
<div>Phenotype shared by at least two diseases associated to the genes involved in {{ mainInfo["label"] }}</div>
</div>




{% if pheno|length <=1  %}
<div class="has-text-centered">No information found</div>

{% else %}
<div class="columns is-fullwidth" id="phenoList">
<div class="column">
<ul>
{% for item in pheno %}
{% if loop.index <= pheno|length / 3 %}
<li>{{ loop.index }} - {{ item.phenoLabel }} (shared by <b>{{ item.nb }}</b> diseases )</li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in pheno %}
{% if loop.index > pheno|length / 3  and loop.index <= pheno|length * 2 / 3  %}
<li>{{ loop.index }} - {{ item.phenoLabel }} (shared by <b>{{ item.nb }}</b> diseases )</li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in pheno %}
{% if loop.index > pheno|length * 2 / 3  %}
<li>{{ loop.index }} - {{ item.phenoLabel }} (shared by <b>{{ item.nb }}</b> diseases )</li>
{% endif %}
 {% endfor %}
</ul<
</div>
</div>
{% endif %}



</section>



{% endif %}
 

{% endblock content %}
{% block comp_script %}
<script>
$( document ).ready(function() {
    $('#geneTable').dynatable({
  features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });


});


// create a chart and set the data
var jsond = {{ data|tojson|safe }};
var keyCount  = Object.keys(jsond).length;
if (keyCount < 6) {
  document.getElementById("sankey").style.height = "200px";
} else if ((keyCount >=6) && (keyCount < 12 )) {
 document.getElementById("sankey").style.height = "450px";
} else if ((keyCount >=12) &&  (keyCount < 24 )) {
  document.getElementById("sankey").style.height = "700px";
} else if ((keyCount >=24) && (keyCount < 40 )) {
 document.getElementById("sankey").style.height = "1000px";
} else if ((keyCount >= 40) && (keyCount < 50 )) {
document.getElementById("sankey").style.height = "1400px";
} else if ((keyCount >= 50) && (keyCount < 100 )) {
document.getElementById("sankey").style.height = "2400px";
} else if ((keyCount >= 100) && (keyCount < 200 )) {
document.getElementById("sankey").style.height = "3600px";
} else if ((keyCount >= 200) && (keyCount < 300 )) {
document.getElementById("sankey").style.height = "6000px";
} else {
 document.getElementById("sankey").style.height = "12000px";
}

var chart = anychart.sankey(jsond);
//https://playground.anychart.com/Uu4y1dZt/0
var nodeColors = {{  colors|tojson|safe }}

// styling
chart.curveFactor(0.3);
chart.nodeWidth("55%");
chart.nodePadding(16);

var legend = anychart.standalones.legend();
legend.container("sankey_legend");
// push legend items to the array
var legend_items = {{ legend|tojson|safe }}

// add items to the legend
legend.items(legend_items);
legend.draw();

//configure the visual settings of nodes
//chart.node().normal().fill("#64b5f6 0.5");
chart.node().fill(function() {
    return nodeColors[this.name] || this.sourceColor;
});
//chart.node().hovered().fill(anychart.color.darken("#64b5f6"));
chart.node().hovered().fill(function() {
    return anychart.color.darken(nodeColors[this.name]) || anychart.color.darken(this.sourceColor);
});
chart.node().normal().stroke("#949899", 1);

// configure the visual settings of flows
//chart.flow().normal().fill("#ffa000 0.4");
chart.flow().hovered().fill(anychart.color.darken("#6f8295"));
chart.flow().tooltip().enabled(false);
//chart.flow().hovered().stroke("#455a64");

// configure the visual settings of dropoffs
chart.dropoff().normal().fill(
  {keys: ["#fff 0.7", "#fff 0.7"], angle: 90}
);
chart.dropoff().hovered().stroke("#fff");
chart.dropoff().stroke("#fff");
//chart.dropoff().hovered().tooltip.enabled(false);
chart.node().labels().useHtml(true);
chart.node().labels().width(300);
chart.node().labels().wordWrap("break-word");
chart.node().labels().wordBreak("normal");
chart.node().labels().format(
"<div style='color: white;font-weight:bold;'>{{ '{%name}' }}</div>"
);

// set the container id
chart.container("sankey");
chart.draw();


</script>
{% endblock %}
