{% extends "layout.jinja2" %}

        {% block title %}Amylome - Documentation{% endblock %}

        {% block more_scripts %}

<script src="{{request.static_url('amypdb:static/bulma-accordion.min.js')}}"></script>
<script src="{{request.static_url('amypdb:static/bulma-dashboard.min.js')}}"> </script>
        {% endblock %}

        {% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_purple.css')}}" rel="stylesheet"/>
<link href="{{request.static_url('amypdb:static/help.css')}}" rel="stylesheet"/>
<link href="{{request.static_url('amypdb:static/bulma-accordion.min.css')}}" rel="stylesheet"/>
        {% endblock %}
        {% block content %}
<section class="hero is-medium is-primary is-bold">
<div class="hero-body">
    <div class="horizontal-margin">
        <div class="columns">
            <div class="column is-three-quarters">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-128x128">
                            <img src="{{request.static_url('amypdb:static/images_docu/info_loupe.png')}}"/>
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <h1 class="title">Where is THAT data ? </h1>
                            <h2 class="subtitle">.
                            </h2>
                        </div>
                    </div>
                </article>

            </div>
            <div class="column">
            </div>
        </div>
    </div>
</div>
</section>

<div class="container">
<br/>
</div>
<div class="columns">
<br/>
<div class="column is-one-quarter">
    <label class="label">info related to protein</label>
    <div class="list is-hoverable">
        <a class="list-item">
            general info
        </a>
        <a class="list-item" href="#p_info">
            annotation
        </a>
        <a class="list-item">
            sequence /isoforms
        </a>
        <a class="list-item">
            structure
        </a>
        <a class="list-item">
            linked diseases
        </a>
        <a class="list-item">
           variant info
        </a>
        <a class="list-item">
            gene
        </a>
        <a class="list-item">
            publication
        </a>

    </div>
    <label class="label">  Info related to gene</label>
    <div class="list is-hoverable">
        <a class="list-item">
            general info
        </a>
        <a class="list-item">
            encoded protein
        </a>
        <a class="list-item">
            linked diseases
        </a>
        <a class="list-item">
            other information
        </a>
    </div>
    <label class="label">  related to a disease</label>
    <div class="list is-hoverable">
        <a class="list-item">
            general info
        </a>
        <a class="list-item">
            symptoms/phenotype
        </a>
        <a class="list-item">
            related gene
        </a>
        <a class="list-item">
            related protein
        </a>
        <a class="list-item">
            associated disease and phenotypes
        </a>
    </div>

</div>
<div class="column">
    <div class="smallmarg">
        <div class="box" id="anno_info">
            <center>
                    <h3 class="title"> annotation </h3>
            </center>

        </div>
        <div class="box" id="s_info">
            <center>
                    <h3 class="title"> Find structural info </h3>
            </center>
            <article>

            </article>
        </div>


        <div class="box is-size-5" id="b_info">
            <center>
                    <h3 class="title"> Find biblio info </h3>
            </center>
            <article>
                Bibliography information can be found on the protein result page under the tab "publication".
                Our publication information are extracted from Uniprot we choose to display only a few of them to keep the page aesthetically pleasing and readable.
                Your can access full list of publication on Uniprot by clicking on the button
                "view complete list of publications in Uniprot". The process is illustrated below.<br/>
                <div class="columns  is-multiline ">
                    <div class="column ">
                        <span class="tag"> 1 ) </span>
                        <div class="image is-5by4">
                            <img src="{{request.static_url('amypdb:static/images_docu/tab_publi.png')}}"/>
                        </div>
                         <span class="tag"> 2 ) </span>
                        <div class="image is-5by4">
                            <img src="{{request.static_url('amypdb:static/images_docu/result_publi.png')}}"/>
                        </div>

                    </div>
                    <div class="column">
                         <span class="tag"> 3 ) </span>
                        <div class="image is-5by4">
                            <img src="{{request.static_url('amypdb:static/images_docu/more_publi.png')}}"/>
                        </div>
                         <span class="tag"> 4 ) </span>
                        <div class="image is-5by3">
                            <img src="{{request.static_url('amypdb:static/images_docu/uniprot_publi.png')}}"/>
                        </div>
                    </div>
                </div>
                <br/>
                For some protein when the amount of publication is too important so there is only the button
                "view complete list of publications in Uniprot" left.
                Always check this button even if the page seems blank.
            </article>
        </div>
    </div>
</div>
</div>


<script type="text/javascript" src="/node_modules/bulma-accordion/dist/js/bulma-accordion.min.js"> </script>
<script>var accordions = bulmaAccordion.attach();</script>

        {% endblock content %}