{% extends "layout.jinja2" %}

        {% block title %}Amylome - Documentation{% endblock %}

        {% block more_scripts %}

<script src="{{request.static_url('amypdb:static/bulma-accordion.min.js')}}"> </script>
        {% endblock %}

        {% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_purple.css')}}" rel="stylesheet"/>
<link href="{{request.static_url('amypdb:static/help.css')}}" rel="stylesheet"/>
<link href="{{request.static_url('amypdb:static/bulma-accordion.min.css')}}" rel="stylesheet"/>
        {% endblock %}
        {% block content %}
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="horizontal-margin">
            <div class="columns">
                <div class="column is-three-quarters">
                    <h1 class="title">AMYPdb help section</h1>
                    <h2 class="subtitle">We are here to help you !
                    </h2>
                </div>
                <div class="column">.
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <br/>
    <div class="columns is-mobile is-multiline is-centered">
        <div class="column is-narrow">
            <a href="{{ request.route_url(route_name='docu_start') }}">
                <div class="box">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{request.static_url('amypdb:static/images_docu/rocket_noir.png')}}"/>
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Getting started</strong>
                                    <br/>
                                    Learn what we have to offer you
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </a>

        </div>
        <div class="column is-narrow">
            <a href="{{ request.route_url(route_name='docu_search') }}">
                <div class="box">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{request.static_url('amypdb:static/images_docu/AMYPdb_col.png')}}"/>
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Do a research</strong>
                                    <br/>
                                    Learn what we have to offer you
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </a>
        </div>
        <div class="column is-narrow">
            <a href="{{ request.route_url(route_name='docu_where') }}">

                <div class="box">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{request.static_url('amypdb:static/images_docu/info_loupe.png')}}"/>
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Where to find THAT data</strong>
                                    <br/>
                                    Learn what we have to offer you
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </a>
        </div>
        <div class="column is-narrow">
            <a href="{{ request.route_url(route_name='docu_dtools') }}">
                <div class="box">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{request.static_url('amypdb:static/images_docu/dtools.png')}}"/>
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Decision help tools</strong>
                                    <br/>
                                    Learn what we have to offer you
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </a>
        </div>
        <div class="column is-narrow">
            <a href="{{ request.route_url(route_name='docu_explo') }}">
                <div class="box">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{request.static_url('amypdb:static/images_docu/explore.png')}}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Explore our dataset</strong>
                                    <br/>
                                    Learn what we have to offer you
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </a>
        </div>
    </div>
</div>
        {% endblock content %}