{% extends "layout.jinja2" %}

        {% block title %}Amylome - Documentation{% endblock %}

        {% block more_scripts %}

<script src="{{request.static_url('amypdb:static/bulma-accordion.min.js')}}"></script>
<script src="{{request.static_url('amypdb:static/bulma-dashboard.min.js')}}"> </script>
        {% endblock %}

        {% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_purple.css')}}" rel="stylesheet"/>
<link href="{{request.static_url('amypdb:static/help.css')}}" rel="stylesheet"/>
<link href="{{request.static_url('amypdb:static/bulma-accordion.min.css')}}" rel="stylesheet"/>
        {% endblock %}
        {% block content %}
<section class="hero is-medium is-primary ">
<div class="hero-body">
    <div class="horizontal-margin">
        <div class="columns">
            <div class="column is-three-quarters">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-128x128">
                            <img src="{{request.static_url('amypdb:static/images_docu/rocket_blanc.png')}}"/>
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <h1 class="title">Getting started</h1>
                            <h2 class="subtitle">Learn what we have to offer you
                            </h2>
                        </div>
                    </div>
                </article>

            </div>
            <div class="column">
            </div>
        </div>
    </div>
</div>
</section>

<div class="container">
<br/>
</div>
<div class="columns">
<br/>
<div class="column is-one-quarter">
    <label class="label">Research on databases</label>
    <div class="list is-hoverable">
        <a class="list-item" href="#p_info">
            Find amyloid protein related info
        </a>
        <a class="list-item" href="#g_info">
            Find amyloid gene related info
        </a>
        <a class="list-item" href="#p_info">
            Find amyloid disease related info
        </a>
        <a class="list-item" href="#var_info">
            Find variant info
        </a>
    </div>
    <label class="label">  Decision support tools</label>
    <div class="list is-hoverable">

        <a class="list-item" href="#symptom_info">
            Find potential disease from patient symptoms
        </a>
        <a class="list-item" href="#p_var_info">
            Find amyloid potential of a protein variant you've found
        </a>

    </div>

</div>
<div class="column">
    <div class="smallmarg">
        <div class="box is-size-5" id="p_info" sytle="">
            <center>
                    <h2 class="title"> Find amyloid protein related info </h2>
            </center>
            <article>
                <div class="content">
                  <ol type="1">
                    <li> <a href="#all_p"> You're not looking for a particular protein </a>  </li>
                    <li> <a href="#id_p"> You know the id of the protein you looking for </a> </li>
                    <li> <a href="#kw_p">You're looking for a protein but don't know his id</a></li>
                  </ol>
                </div>
            </article>
            <br/>
            <div class="is-divider"> </div>
            <div id="all_p">
                If you don't have a protein in mind : <br/>
                Why not choose one from our overview of human amyloid entity ? <br/>
                This overview is accessible on our home page. This will allow you to choose from an alphabetical list of human proteins. As illustrated below :
                <div class="columns">
                    <div class="column">
                        <div class="image is-square">
                            <img src="{{request.static_url('amypdb:static/images_docu/overview_prot.png')}}"/>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image is-5by4">
                            <img src="{{request.static_url('amypdb:static/images_docu/List_prot.png')}}"/>
                        </div>
                    </div>
                </div>
                <br/>
                By clicking on the id you will arrive on a page containing all known information for this protein.
                If you want to know more about theses information check <a href="{{ request.route_url(route_name='docu_where') }}">THIS </a> page
            </div>
            <div class="is-divider"> </div>
            <div id="id_p">
                If you know the ID of the protein you looking for : Do a research by ID on the dedicated home page module
                <div class="columns">
                    <div class="column">
                        <div class="image is-5by4">
                            <img src="{{request.static_url('amypdb:static/images_docu/search_id_where.png')}}"/>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image is-2by1">
                            <img src="{{request.static_url('amypdb:static/images_docu/search_id.png')}}"/>
                        </div>
                        <br/>
                    </div>
                </div>
                If the protein is in our database you will access all known information on this protein.
            </div>
            <div class="is-divider"> </div>
            <div id="kw_p">
                If you don't know the ID of the protein you looking for do a research by keyword on the dedicated home page module
                <div class="columns">
                    <div class="column ">
                        <div class="image is-5by4">
                            <img src="{{request.static_url('amypdb:static/images_docu/search_kw_home.png')}}"/>
                        </div>
                    </div>
                    <div class="column">

                    </div>
                    <br/>
                </div>

                For example you're looking for a protein linked to APP but you don't know the ID of this protein.
                This is the research you should do to access to the protein you're looking for
                <div class="columns">
                    <div class="column">
                        <div class="image is-5by3">
                            <img src="{{request.static_url('amypdb:static/images_docu/exemple_APP.png')}}"/>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image is-5by3">
                            <img src="{{request.static_url('amypdb:static/images_docu/exemple_APP_res.png')}}"/>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>

         <div class="box is-size-5" id="g_info">
            <center>
                    <h2 class="title"> Find amyloid gene related info </h2>
            </center>
            <article>
                <div class="content">
                  <ol type="1">
                    <li> <a href="#all_g"> You're not looking for a particular gene </a>  </li>
                    <li> <a href="#id_g"> You know the ID of the gene you looking for </a> </li>
                    <li> <a href="#kw_g">You're looking for a gene but don't know his id</a></li>
                  </ol>
                </div>
            </article>
            <br/>
            <div class="is-divider"> </div>
            <div id="all_g">
                If you don't have a gene in mind : <br/>
                Why not choose one from our overview of human amyloid entity ? <br/>
                This overview is accessible on our home page. This will allow you to choose from an alphabetical list of human genes. As illustrated below :
                <div class="columns">
                    <div class="column">
                        <div class="image is-5by4">
                            <img src="{{request.static_url('amypdb:static/images_docu/overview_gene.png')}}"/>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image is-square">
                            <img src="{{request.static_url('amypdb:static/images_docu/List_genes.png')}}"/>
                        </div>
                    </div>
                </div>
                <br/>
                By clicking on the id you will arrive on a page containing all known information for this gene.
                If you want to know more about theses information check <a href="{{ request.route_url(route_name='docu_where') }}">THIS </a> page
            </div>
            <div class="is-divider"> </div>
            <div id="id_g">
                If you know the ID of the gene you looking for : Do a research by ID on the dedicated home page module
                <div class="columns">
                    <div class="column">
                        <div class="image is-square">
                            <img src="{{request.static_url('amypdb:static/images_docu/search_id_where.png')}}"/>
                        </div>
                    </div>
                    <div class="column">
                         <div class="image is-square">
                            <img src="{{request.static_url('amypdb:static/images_docu/search_id.png')}}"/>
                        </div>
                    </div>
                </div>
                If the protein is in our database you will access all known information on this gene.
                Go <a href="{{ request.route_url(route_name='docu_search') }}"> HERE </a> to learn more about the research modules.
            </div>
            <div class="is-divider"> </div>
            <div id="kw_g">
                If you don't know the ID of the gene you looking for do a research by keyword on the dedicated home page module
                <div class="columns">
                    <div class="column is-three-quarters">
                        <div class="image is-square">
                            <img src="{{request.static_url('amypdb:static/images_docu/search_kw_home.png')}}"/>
                        </div>
                    </div>
                    <div class="column">
                    </div>
                </div>

                For example you're looking for a gene  APP but you don't know the ID of this gene.
                This is the research you should do to access to the gene you're looking for
                <div class="columns">
                    <div class="column">
                        <div class="image is-5by3">
                            <img src="{{request.static_url('amypdb:static/images_docu/exemple_app_gene.png')}}"/>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image is-5by3">
                            <img src="{{request.static_url('amypdb:static/images_docu/result_app_gene.png')}}"/>
                        </div>
                    </div>
                </div>
                <br/>
                Go <a href="{{ request.route_url(route_name='docu_search') }}"> HERE </a> to learn more about the research modules.

            </div>
        </div>

        <div class="box is-size-5" id="var_info">
            <center>
                    <h3 class="title"> Find variant info </h3>
            </center>
            <article>
                Variants information are only available for protein (for now). <br/>
                To access this information you need to know the ID of the protein. Then go on the "search for protein
                variant" module on the home page. Enter the ID. You will then arrive on a page with 3 tab. By cliking
                on "known variant" tab you will access a recap table. This process is illustrated below.
                <div class="columns">
                    <div class="column">
                        <div class="image is-5by3">
                            <img src="{{request.static_url('amypdb:static/images_docu/exemple_search_var.png')}}"/>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image is-5by4">
                            <img src="{{request.static_url('amypdb:static/images_docu/variant_tab.png')}}"/>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image is-5by4">
                            <img src="{{request.static_url('amypdb:static/images_docu/result_var.png')}}"/>
                        </div>
                    </div>
                </div>
                Learn more about the search of protein variant module <a href="#"> HERE </a> .

            </article>
        </div>

        <div class="box" id="symptom_info">
            <center>
                    <h3 class="title"> Find potential disease from patient symptoms </h3>
            </center>
            <article>
                If you are a clinician and you have a patient with different symptoms and searching for possible amyloid
                related diseases, use our dedicated search engine. <br/>
                Fill in the field with all of your patient symptoms as shown below. This will give you access to a recap
                table with a list of all diseases matching your symptoms, access to the protein and gene linked to
                this disease. <br/>
                 <div class="columns">
                    <div class="column">
                        <div class="image is-5by3">
                            <img src="{{request.static_url('amypdb:static/images_docu/example_symptom.png')}}"/>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image is-5by3">

                        </div>
                    </div>
                </div>
                To allow you to explore the possible causes through amyloid related genes/proteins :
                we're displaying relationship between genes and diseases and between proteins and disease, as illustrated below.
                <div class="columns">
                    <div class="column">
                        <div class="image is-5by3">
                            <img src="{{request.static_url('amypdb:static/images_docu/exemple_graph_p_symp.png')}}"/>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image is-5by3">
                             <img src="{{request.static_url('amypdb:static/images_docu/exemple_graph_g_symp.png')}}"/>
                        </div>
                    </div>
                </div>
                Be aware that when there is very few symptoms you may obtain so many result that theses graphics may
                seem unreadable. But they are interactive so you can zoom in and out, and even move around nodes to
                have a better view of a part of the graph. By hovering nodes you have access to their ID which allow you
                to continue your research on this entities
            </article>
            <span class="tag"> TODO VIDEO DEMO</span>
        </div>
        <div class="box" id="p_var_info">
            <center>
                    <h3 class="title"> Find amyloid potential of a protein variant you've found</h3>
            </center>
            <article>
                If you have observed a mutation on a protein and want to know if this mutation could be pathogenic use
                our variant search engine. <br/>
                Enter the ID of the protein as below to access the wild type protein amyloidicity, recap tab of all
                known variant, and the possibility to create a new variant.
                Here an example with apolipoprotein C III :
                <span class="tag"> TODO VIDEO DEMO</span>


            </article>
        </div>

    </div>
</div>
</div>


<script type="text/javascript" src="/node_modules/bulma-accordion/dist/js/bulma-accordion.min.js"> </script>
<script>var accordions = bulmaAccordion.attach();</script>

        {% endblock content %}