{% extends "layout.jinja2" %}

        {% block title %}Amylome - Documentation{% endblock %}

        {% block more_scripts %}

<script src="{{request.static_url('amypdb:static/bulma-accordion.min.js')}}"></script>
<script src="{{request.static_url('amypdb:static/bulma-dashboard.min.js')}}"> </script>
        {% endblock %}

        {% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_purple.css')}}" rel="stylesheet"/>
<link href="{{request.static_url('amypdb:static/help.css')}}" rel="stylesheet"/>
<link href="{{request.static_url('amypdb:static/bulma-accordion.min.css')}}" rel="stylesheet"/>
        {% endblock %}
        {% block content %}
<section class="hero is-medium is-primary is-bold">
<div class="hero-body">
    <div class="horizontal-margin">
        <div class="columns">
            <div class="column is-three-quarters">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-128x128">
                            <img src="{{request.static_url('amypdb:static/images_docu/explore.png')}}"/>
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <h1 class="title">Explore our dataset</h1>
                            <h2 class="subtitle">
                            </h2>
                        </div>
                    </div>
                </article>

            </div>
            <div class="column">
            </div>
        </div>
    </div>
</div>
</section>

<div class="container">
<br/>
</div>
<div class="columns">
<br/>
<div class="column is-one-quarter">
    <label class="label">Research on databases</label>
    <div class="list is-hoverable">
        <a class="list-item" href="#p_info">
            Find amyloid protein related info
        </a>
        <a class="list-item">
            Find amyloid gene related info
        </a>
        <a class="list-item">
            Find amyloid disease related info
        </a>
        <a class="list-item">
            Find variant info
        </a>
        <a class="list-item">
            Find bibliography info
        </a>
        <a class="list-item">
            Find structural info
        </a>
    </div>
    <label class="label">  Decision support tools</label>
    <div class="list is-hoverable">

        <a class="list-item">
            Find potential disease from patient symptoms
        </a>
        <a class="list-item">
            Find amyloid potential of a protein variant you've found
        </a>

    </div>

</div>
<div class="column">
    <div class="smallmarg">
        <div class="box" id="p_info">
            <center>
                    <h2 class="title"> Find amyloid protein related info </h2>
            </center>
            <article>
                <div class="content">
                  <ol type="1">
                    <li> You're not looking for a particular protein </li>
                    <li>You know the id of the protein you looking for</li>
                    <li>You're looking for a protein but don't know his id</li>
                  </ol>
                </div>
            </article>
        </div>
    </div>
</div>
</div>


<script type="text/javascript" src="/node_modules/bulma-accordion/dist/js/bulma-accordion.min.js"> </script>
<script>var accordions = bulmaAccordion.attach();</script>

        {% endblock content %}