{% extends "layout.jinja2" %}

        {% block title %}Amylome - Documentation{% endblock %}

        {% block more_scripts %}

<script src="{{request.static_url('amypdb:static/bulma-accordion.min.js')}}"> </script>
<script src="{{request.static_url('amypdb:static/bulma-dashboard.min.js')}}"> </script>
        {% endblock %}

        {% block more_links %}
<link href="{{request.static_url('amypdb:static/mystyles_purple.css')}}" rel="stylesheet"/>
<link href="{{request.static_url('amypdb:static/help.css')}}" rel="stylesheet"/>
<link href="{{request.static_url('amypdb:static/bulma-accordion.min.css')}}" rel="stylesheet"/>
        {% endblock %}
        {% block content %}
<section class="hero is-medium is-primary is-bold">
<div class="hero-body">
    <div class="horizontal-margin">
        <div class="columns">
            <div class="column is-three-quarters">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-128x128">
                            <img src="{{request.static_url('amypdb:static/images_docu/AMYPdb_white.png')}}"/>
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <h1 class="title">Research on database</h1>
                            <h2 class="subtitle"> .
                            </h2>
                        </div>
                    </div>
                </article>

            </div>
            <div class="column">
            </div>
        </div>
    </div>
</div>
</section>

<div class="container">
    <br/>
<div class="columns">
    <br/>
    <div class="column is-one-quarter">
        <label class="label">Research by ID</label>
        <div class="list is-hoverable">
            <a class="list-item" href="#id_where">
                Where
            </a>
            <a class="list-item" href="#id_how">
                How to
            </a>
            <a class="list-item" href="#id_res">
                Result found
            </a>
            <a class="list-item" href="#nores">
                Result not found
            </a>
        </div>
        <label class="label">  Research by keyword</label>
        <div class="list is-hoverable">

            <a class="list-item" href="#kw_where">
                Where
            </a>
            <a class="list-item" href="#kw_how">
                How to
            </a>
            <a class="list-item" href="#kw_res">
                Result found
            </a>
            <a class="list-item" href="#nores">
                Result not found
            </a>
        </div>
    </div>
    <div class="column">
        <div class="smallmarg">
            <div class="box" id="id_where">
                <center>
                        <h2 class="title"> Where is the Research by ID module </h2>
                </center>
                <br/>
                <article>
                    This response is simple on the AMYPdb Home Page as show below <br/>

                    <span class="tag"> TODO VIDEO DEMO</span>
                </article>
            </div>
            <div class="box" id="id_how">
                <center>
                        <h2 class="title"> How to use it </h2>
                </center>
                <br/>
                <article>
                    You have to enter the ID of the entity for example if you are looking for APOC3 protein you need to enter
                    the matching Uniprot ID ex : P02656.<br/>
                    You can also search for a disease with a MONDO ID or for a gene with en ENSEMBL ID.<br/>
                    <video width="320" height="240" controls>
                      <source src= "{{request.static_url('amypdb:static/images_docu/demo_id_search.mp4')}}" type="video/mp4"/>
                      Your browser does not support the video tag.
                    </video>
                    If you don't have any idea or just want to test the module don't hesitate to use one oh the example below

                </article>
            </div>
            <div class="box" id="id_res">
                <center>
                        <h2 class="title"> Result found  </h2>
                </center>
                <br/>
                <article>
                    Depending of the type of entity you are searching for you will either access to a protein page, a gene page or a disease page.
                    If you want to learn more about the info contained in theses pages you can go HERE.
                    <div class="columns">
                    <div class="column">
                        <div class="image is-5by3">
                            <img src="{{request.static_url('amypdb:static/images_docu/res_prot.png')}}"/>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image is-5by4">
                            <img src="{{request.static_url('amypdb:static/images_docu/res_gene.png')}}"/>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image is-5by4">
                            <img src="{{request.static_url('amypdb:static/images_docu/res_dis.png')}}"/>
                        </div>
                    </div>
                </div>
                </article>
            </div>
            <div class="box" id="id_nores">
                <center>
                        <h2 class="title"> Result not found  </h2>
                </center>
                <br/>
                <article>
                    if no result are found for your search you will access to this page: <br/>
                    <div class="columns">
                        <div class="column">
                            <div class="image is-5by3">
                                <img src="{{request.static_url('amypdb:static/images_docu/no-result.png')}}"/>
                            </div>
                        </div>
                    </div>
                    Form here you can either select one of the suggestion or go back to home page to do a new research. <br/>
                </article>
            </div>
        </div>
    </div>
</div>
</div>


<script type="text/javascript" src="/node_modules/bulma-accordion/dist/js/bulma-accordion.min.js"> </script>
<script>var accordions = bulmaAccordion.attach();</script>

        {% endblock content %}