{% extends "layout.jinja2" %}

{% block title %}Amypdb - Gene - {{ mainInfo["label"] }} {% endblock %}


       
  {% block more_scripts %}  

<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-sankey.min.js"></script> 
{% endblock  %}

{% block more_links %}
    <link href="{{request.static_url('amypdb:static/mystyles_green.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

 <section class="hero is-medium is-primary is-bold">
     <div class="horizontal-margin" >
    <div class="hero-body">

      <div class="columns">
         <div class="column is-three-quarters">
        <h1 class="title">{{ mainInfo["label"] }}</h1>
        {% set labels = mainInfo["altList"] %}
        {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
       <p class="alt_labels">Alternative labels :  {{ labels }}  </p>
         <h2 class="subtitle">{{ mainInfo["description"] }} (Source : <a target="_blank" href="https://www.ensembl.org/id/{{ itemId }}">Ensembl <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>
        </div>

           <div class="column has-text-right">
          
           <h2 class="subtitle"><b>Organism : </b> {{ mainInfo["organism"] }} </h2>

           </div>

        </div><!-- end columns -->


</div><!-- end hero-body -->


<div class="hero-foot">
<div style="margin-left: 2rem">
    <nav class="tabs is-boxed ">

        <ul>
        <li class="is-active heroTab" id="relProteins">
            <a>Biological process</a>
          </li>
          <li class="heroTab" id="relDisease">
            <a href="{{ request.route_url(route_name='gene_diseases', itemId=itemId) }}#relDisease">Pathology</a>
          </li>
        </ul>

    </nav>
</div>

</div>

</div> <!-- end hmarg-->

  </section>

<section class="section"> 
<div class="has-text-centered is-primary margin-bottom" >
<h2 class="title">Biological process</h2>
<div>{{ mainInfo["label"] }} encodes the protein{% if protList|length > 1 %}s{% endif %}
{% for item in protList %}
&nbsp;<a href="{{ request.route_url(route_name='protein_amy', itemId=item["proteinId"]) }}">{{ item["proteinLabel"] }} ({{ item["proteinId"] }}) </a>
{% endfor %}
. <br />Information about the relationships between transcripts and isoforms is given below </div>
</div>




   <div id="sankey" style="height:300px;width:100%">
   </div>

<div id="sankey_legend"></div>



 </section>





{% endblock content %}


{% block comp_script %}
<script>

// create a chart and set the data
var jsond = {{ data|tojson|safe }};
var keyCount  = Object.keys(jsond).length;
if (keyCount < 6) {
  document.getElementById("sankey").style.height = "100px";
} else if ((keyCount >=6) && (keyCount < 12 )) {
 document.getElementById("sankey").style.height = "400px";
} else if ((keyCount >=12) &&  (keyCount < 24 )) {
  document.getElementById("sankey").style.height = "800px";
} else if ((keyCount >=24) && (keyCount < 40 )) {
 document.getElementById("sankey").style.height = "1000px";
}  else {
 document.getElementById("sankey").style.height = "1600px";
} 

var chart = anychart.sankey(jsond);
//https://playground.anychart.com/Uu4y1dZt/0
var nodeColors = {{  colors|tojson|safe }}

// styling 
chart.curveFactor(0.3);
chart.nodeWidth("45%");
chart.nodePadding(16);

var legend = anychart.standalones.legend();
legend.container("sankey_legend");
// push legend items to the array
var legend_items = {{ legend|tojson|safe }}

// add items to the legend
legend.items(legend_items);
legend.draw();

//configure the visual settings of nodes
//chart.node().normal().fill("#64b5f6 0.5");
chart.node().fill(function() {
    return nodeColors[this.name] || this.sourceColor;
});
//chart.node().hovered().fill(anychart.color.darken("#64b5f6"));
chart.node().hovered().fill(function() {
    return anychart.color.darken(nodeColors[this.name]) || anychart.color.darken(this.sourceColor);
});
chart.node().normal().stroke("#949899", 1);

// configure the visual settings of flows
//chart.flow().normal().fill("#ffa000 0.4");
chart.flow().hovered().fill(anychart.color.darken("#6f8295"));
chart.flow().tooltip().enabled(false);
//chart.flow().hovered().stroke("#455a64");

// configure the visual settings of dropoffs
chart.dropoff().normal().fill(
  {keys: ["#fff 0.7", "#fff 0.7"], angle: 90}
);
chart.dropoff().hovered().stroke("#fff");
chart.dropoff().stroke("#fff");
//chart.dropoff().hovered().tooltip.enabled(false);
chart.node().labels().useHtml(true);
chart.node().labels().width(150);
chart.node().labels().wordWrap("break-word");
chart.node().labels().wordBreak("normal");
chart.node().labels().format(
"<div style='color: white;font-weight:bold;'>{{ '{%name}' }}</div>"
);

// set the container id
chart.container("sankey");
chart.draw();


</script>
{% endblock %}