{% extends "layout.jinja2" %}

{% block title %}Amypdb - Gene - {{ mainInfo["label"] }} {% endblock %}

{% block more_links %}
    <link href="{{request.static_url('amypdb:static/mystyles_green.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

 <section class="hero is-medium is-primary is-bold">
     <div class="horizontal-margin" >
    <div class="hero-body">

      <div class="columns">
         <div class="column is-three-quarters">
        <h1 class="title">{{ mainInfo["label"] }}</h1>
        {% set labels = mainInfo["altList"] %}
        {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
       <p class="alt_labels">Alternative labels :  {{ labels }}  </p>
         <h2 class="subtitle">{{ mainInfo["description"] }} (Source : <a target="_blank" href="https://www.ensembl.org/id/{{ itemId }}">Ensembl <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>
        </div>

           <div class="column has-text-right">
          
           <h2 class="subtitle"><b>Organism : </b> {{ mainInfo["organism"] }} </h2>
            

           </div>

        </div><!-- end columns -->


</div><!-- end hero-body -->


<div class="hero-foot">
<div style="margin-left: 2rem">
    <nav class="tabs is-boxed ">

        <ul>
        <li class="heroTab" id="relProteins">
            <a href="{{ request.route_url(route_name='gene', itemId=itemId) }}#relProteins">Biological process</a>
          </li>
          <li class="is-active heroTab" id="relDisease">
            <a>Pathology</a>
          </li>
        </ul>

    </nav>
</div>

</div>

</div> <!-- end hmarg-->

  </section>





<section class="section">
<div class="has-text-centered is-primary margin-bottom" > 
<h2 class="title">Diseases</h2>
<div> Diseases associated to the gene {{ mainInfo["label"] }} in Disgenet {% if disDict|length < 1 %} : No information found {% endif %}</div>
</div>

{% if disDict|length >= 1 %}


<table id="diseaseTable" class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>Id</th>
            <th>Disease</th>
            <th>Description</th>
            <th style="width:15%">Score</th>
        </tr>
    </thead>
    <tbody>
        
       
{% for item in disDict %}

        <tr>
        {% if item.diseaseId != "" %}
            <td><a href="{{ request.route_url(route_name='disease', itemId=item.diseaseId) }}">{{ item.diseaseId }}</a></td>
        {% else %}
                   <td>{{ item.diseaseId }}</td>
          {% endif %}
            <td>{{ item.diseaseLabel }}</td>
            <td>{% if item.diseaseDesc|length > 200 %}{{ item.diseaseDesc|truncate(200,False) }}{% else %}{{ item.diseaseDesc }}{% endif %}</td>
            <td>{{ item.score }}</td>
        </tr>
   

 
 {% endfor %}
    </tbody>
</table>

{% endif %}





<div class="has-text-centered is-primary margin-top margin-bottom" >
<h2 class="title is-primary">Associated phenotypes</h2>
<div>Phenotype shared by at least two diseases associated to the genes involved in {{ mainInfo["label"] }}</div>
</div>




{% if pheno|length <=1  %}
<div class="has-text-centered">No information found</div>

{% else %}
<div class="columns is-fullwidth" id="phenoList">
<div class="column">
<ul>
{% for item in pheno %}
{% if loop.index <= pheno|length / 3 %}
<li>{{ loop.index }} - {{ item.phenoLabel }} (shared by <b>{{ item.nb }}</b> diseases )</li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in pheno %}
{% if loop.index > pheno|length / 3  and loop.index <= pheno|length * 2 / 3  %}
<li>{{ loop.index }} - {{ item.phenoLabel }} (shared by <b>{{ item.nb }}</b> diseases )</li>
{% endif %}
 {% endfor %}
</ul>
</div>
<div class="column">
<ul>
{% for item in pheno %}
{% if loop.index > pheno|length * 2 / 3  %}
<li>{{ loop.index }} - {{ item.phenoLabel }} (shared by <b>{{ item.nb }}</b> diseases )</li>
{% endif %}
 {% endfor %}
</ul<
</div>
</div>
{% endif %}





</section>






{% endblock content %}
