{% extends "layout.jinja2" %}

        {% block title %}Amylome - Home{% endblock %}

        {% block more_scripts %}
<script src="{{request.static_url('amypdb:static/bundle.min.js')}}"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"> </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>

{% endblock %}

{% block more_links %}

<link href="{{request.static_url('amypdb:static/mystyles_purple.css')}}" rel="stylesheet"/>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


{% endblock %}


{% block content %}

<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="horizontal-margin">
            <div class="columns">
                <div class="column is-three-quarters">
                    <h1 class="title">AMYPdb</h1>
                    <h2 class="subtitle">AMYPdb gathers information about genes, proteins and diseases related to
                        amyloid processes. It includes amyloid proteins but also non-amyloid proteins involved in
                        amyloid formation or playing a part in a amyloidosis or amyloid-related diseases (such as
                        Alzheimer's, Parkinson's or Huntington's disease, for instance)
                    </h2>
                </div>
                <div class="column">.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns">
        <div class="column">
            <div class="tabs">
                <ul>
                    <li class="is-active searchTab" onclick="openTab(event,'tabText')">
                        <a>Search by keyword</a>
                    </li>
                    <li class="searchTab" onclick="openTab(event,'tabIdentifier')">
                        <a>Search by identifier</a>
                    </li>
                </ul>
            </div>
            <div class="container is-fluid has-background-light is-marginless">
                <div class="smallmarg is-fluid content-tab for-display" id="tabText">
                    <form action="/results_txt" method="post" id="search_home">
                        <br/>
                        <div class="field">
                            <div class="label">Search by keyword
                                <div class="icon has-tooltip-right"
                                     data-tooltip="search by usual/general terms such as alzheimer">
                                    <i class="fas fa-question-circle"> </i>
                                </div>
                            </div>
                            <br>
                            <span class="indic">Enter a text, specify an entity type if needed
                            <span>
                            <div class="control" style="width:100%">
                                <div class="field has-addons is-fullwidth">
                                    <div class="control is-fullwidth" style="width:100%">
                                        <input class="input  searchTabInput" type="text" placeholder="Your search"
                                               name="search_text" id="searchText"   style="width:100%; min-width:100px"> </input>
                                    </div>

                                    <div class="control" style="width:50%">
                                        <div class="select" >
                                            <select name="entity_type" id="entity_type">
                                                <option value="any_type">ALL </option>
                                                <option value="genes">GENES</option>
                                                <option value="proteins">PROTEINS</option>
                                                <option value="amyloid">-- Amyloid</option>
                                                <option value="amylome_interactor">-- Amylome interactor</option>
                                                <option value="involved_amyloidosis">-- Involved in amyloidosis</option>
                                                <option value="pathogenic">-- Pathogenic</option>
                                                <option value="diseases">DISEASES</option>
                                                <option value="amyloidosis">-- Amyloidosis</option>
                                                <option value="amyloid_related_disease">-- Amyloid related-diseases
                                                </option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="control">
                                        <div class="select">
                                            <select name="specie_select" id="specie_select">
                                                <option value="human">Homo sapiens</option>
                                                <option value="any_specie">All species</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="control">
                                        <input class="button  is-link " type="submit" value="Search"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="has-text-grey">Exemple : <a onclick="insertLabel('Alzheimer','searchText')">
                            Alzheimer</a>, <a onclick="insertLabel('Neurofibrillary tangles','searchText')">
                            Neurofibrillary tangles</a>, <a onclick="insertLabel('regulates','searchText')">
                            regulates</a>...
                        </div>
                        <br/>
                    </form>
                </div>

                <div class="smallmarg is-fluid content-tab for-display" id="tabIdentifier" style="display:none">
                    <form action="/results_id" method="post" id="search_home_id">
                        <br/>
                        <div class="field">
                            <div class="label">Search by identifier :
                                <div class="icon has-tooltip-right"
                                     data-tooltip=" use a gene or a protein identifier from either uniprot,ensembl or mondo ">
                                    <i class="fas fa-question-circle"> </i>
                                </div>
                            </div>
                            <div class="control">
                                <div class="field has-addons is-fullwidth">
                                    <div class="control is-fullwidth" style="width:100%">
                                        <input class="input searchTabInput" type="text" placeholder="Your search"
                                               name="search_identifier" id="searchIdentifier"> </input>
                                    </div>
                                    <div class="control">
                                        <input class="button  is-link" type="submit" value="Search"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="has-text-grey">Exemple : <a onclick="insertLabel('A4_HUMAN','searchIdentifier')">
                            A4_HUMAN</a>, <a onclick="insertLabel('Q9Y287','searchIdentifier')">Q9Y287</a>, <a
                                onclick="insertLabel('ENSG00000186868','searchIdentifier')">ENSG00000186868</a>, <a
                                onclick="insertLabel('MONDO:0010857','searchIdentifier')">MONDO:0010857</a>...
                        </div>
                        <br/>
                    </form>
                </div>
            </div>
        </div> <!-- end of column-->
        <div class="column">
            <div class="tabs">
                <ul>
                    <li class="is-active">
                        <a>Overview for the human species only
                            <div class="icon has-tooltip-right"
                                 data-tooltip="this section allows you to explore the data by category">
                                <i class="fas fa-question-circle"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <a href="{{ request.route_url(route_name='gene_list') }}" style="color:black;">
                <div class="level is-mobile margin-top" style="margin-top: 40px">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">{{ humanCount["nbGene"] }}</p>
                        <p class="heading">genes</p>
                        <div>
                            <p>encoding amyloid proteins</p>
                            <p>or their interactors</p>
                        </div>
                    </div>
                </div>
            </a>
            <div class="level-item has-text-centered">
                <div>
                    <a href="{{ request.route_url(route_name='amylome_protein_list') }}" style="color:black;">
                        <p class="title">{{ humanCount["nbAmylomeProtein"] }}</p>
                        <p class="heading">amylome proteins</p>
                    </a>
                    <div>
                        <p>of which</p>
                        <a href="{{ request.route_url(route_name='amyloid_protein_list') }}" style="color:black;">
                            <p>{{ humanCount["nbAmyloidProtein"] }} are amyloid</p>
                        </a>
                    </div>
                </div>
            </div>

            <a href="{{ request.route_url(route_name='disease_list') }}" style="color:black;">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">{{ humanCount["nbDisease"] }}</p>
                        <p class="heading">amyloidosis</p>
                        <div>
                            <p>amyloidosis and</p>
                            <p>amyloid-related diseases</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div> <!-- end of div level is-mobile -->
</section>


<section class="section">
    <div class="columns">
        <div class="column">
            <div class="tabs">
                <ul>
                    <li class="is-active">
                        <a>Search by symptoms
                            <div class="icon has-tooltip-right"
                                 data-tooltip=" here you can search for diseases matching a combination of symptoms ">
                                <i class="fas fa-question-circle"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="container is-fluid has-background-light is-marginless">
                <div class="smallmarg is-fluid content-tab">
                    <form action="/results_pheno" id="search_home_pheno">
                        <input type="hidden" id="phenolistid" name="phenolist" value=""> </input>
                        <input type="hidden" id="phenolistid2" name="phenolist2" value=""> </input>
                        <br/>
                        <div class="field">
                            <div class="label">Find diseases (and proteins) which share the same symptoms
                                <br>
                                <span class="indic">
                                Type the beginning of the label and use the autocompletion list to
                                select the symptoms
                                <span/>
                            </div>

                                <div class="field is-fullwidth">
                                    <div class="control is-fullwidth" style="width:100%">
                                        <div class="select-wrapper">
                                            <span class="autocomplete-select"> </span>
                                        </div>
                                        <script>
                                            var xmlhttp = new XMLHttpRequest();
                                            xmlhttp.onreadystatechange = function() {
                                            if (this.readyState == 4 && this.status == 200) {

                                            var myObj = JSON.parse(this.responseText);

                                            var values = ""

                                            var customIcon = document.createElement('img');
                                            customIcon.src = "{{request.static_url('amypdb:static/icon.svg')}}";
                                            var customIconMulti = new SelectPure(".autocomplete-select", {
                                            options: myObj,
                                            multiple: true,
                                            autocomplete: true,
                                            inlineIcon: customIcon,
                                            onChange: value => { },
                                            classNames: {
                                            select: "select-pure__select",
                                            dropdownShown: "select-pure__select--opened",
                                            multiselect: "select-pure__select--multiple",
                                            label: "select-pure__label",
                                            placeholder: "select-pure__placeholder",
                                            dropdown: "select-pure__options",
                                            option: "select-pure__option",
                                            autocompleteInput: "select-pure__autocomplete",
                                            selectedLabel: "select-pure__selected-label",
                                            selectedOption: "select-pure__option--selected",
                                            placeholderHidden: "select-pure__placeholder--hidden",
                                            optionHidden: "select-pure__option--hidden",
                                            }
                                            }

                                            );


                                            var form_element = document.getElementById('search_home_pheno').onsubmit =
                                            function() {phenoFonction()};
                                            function phenoFonction(){

                                            document.getElementById("phenolistid").value = customIconMulti.value()

                                            }

                                            }
                                            };


                                            xmlhttp.open("GET",
                                            "{{request.static_url('amypdb:static/symptom_list.json')}}", true);
                                            xmlhttp.send();
                                        </script>

                                        <style>
                                            body {
                                            font-family: "Roboto", sans-serif;
                                            }

                                            .select-wrapper {
                                            margin: auto;
                                            max-width: 600px;
                                            width: calc(100% - 40px);
                                            }

                                            .select-pure__select {
                                            align-items: center;
                                            background: #f9f9f8;
                                            border-radius: 4px;
                                            border: 1px solid rgba(0, 0, 0, 0.15);
                                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
                                            box-sizing: border-box;
                                            color: #363b3e;
                                            cursor: pointer;
                                            display: flex;
                                            font-size: 16px;
                                            font-weight: 500;
                                            justify-content: left;
                                            min-height: 44px;
                                            padding: 5px 10px;
                                            position: relative;
                                            transition: 0.2s;
                                            width: 100%;
                                            }

                                            .select-pure__options {
                                            border-radius: 4px;
                                            border: 1px solid rgba(0, 0, 0, 0.15);
                                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
                                            box-sizing: border-box;
                                            color: #363b3e;
                                            display: none;
                                            left: 0;
                                            max-height: 221px;
                                            overflow-y: scroll;
                                            position: absolute;
                                            top: 50px;
                                            width: 100%;
                                            z-index: 5;
                                            }

                                            .select-pure__select--opened .select-pure__options {
                                            display: block;
                                            }

                                            .select-pure__option {
                                            background: #fff;
                                            border-bottom: 1px solid #e4e4e4;
                                            box-sizing: border-box;
                                            height: 44px;
                                            line-height: 25px;
                                            padding: 10px;
                                            }

                                            .select-pure__option--selected {
                                            color: #e4e4e4;
                                            cursor: initial;
                                            pointer-events: none;
                                            }

                                            .select-pure__option--hidden {
                                            display: none;
                                            }

                                            .select-pure__selected-label {
                                            align-items: 'center';
                                            background: #5e6264;
                                            border-radius: 4px;
                                            color: #fff;
                                            cursor: initial;
                                            display: inline-flex;
                                            justify-content: 'center';
                                            margin: 5px 10px 5px 0;
                                            padding: 3px 7px;
                                            }

                                            .select-pure__selected-label:last-of-type {
                                            margin-right: 0;
                                            }

                                            .select-pure__selected-label i {
                                            cursor: pointer;
                                            display: inline-block;
                                            margin-left: 7px;
                                            }

                                            .select-pure__selected-label img {
                                            cursor: pointer;
                                            display: inline-block;
                                            height: 18px;
                                            margin-left: 7px;
                                            width: 14px;
                                            }

                                            .select-pure__selected-label i:hover {
                                            color: #e4e4e4;
                                            }

                                            .select-pure__autocomplete {
                                            background: #f9f9f8;
                                            border-bottom: 1px solid #e4e4e4;
                                            border-left: none;
                                            border-right: none;
                                            border-top: none;
                                            box-sizing: border-box;
                                            font-size: 16px;
                                            outline: none;
                                            padding: 10px;
                                            width: 100%;
                                            }

                                            .select-pure__placeholder--hidden {
                                            display: none;
                                            }
                                        </style>
                                    </div>
                                    <div class="control">
                                        <input class="button  is-link " type="submit" value="Search"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                    </form>
                </div>
            </div>
        </div><!-- end of column -->
    </div> <!-- end of columns -->
</section>

<section class="section">
    <div class="columns">
        <div class="column">
            <div class="tabs">
                <ul>
                    <li class="is-active">
                        <a>search of protein variant
                            <div class="icon has-tooltip-right"
                                 data-tooltip="here you can search if a modification can lead to a known or predicted amyloid effect">
                                <i class="fas fa-question-circle"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <form action="/result_variant" id="search_variant">
                <div class="smallmarg has-background-light">
                    <br/>
                    <form class="smallmarg has-background-light is-fluid content-tab">
                        <div class="field is-right">
                            <div class="label">Search for protein variant</div>
                            <br/>
                            <div class="container smallmarg">
                                <div class="field has-addons ">
                                <div class="control " style="width:75%">
                                    <input class="input " type="text" placeholder="Protein ID"  name="id_prot_var" id="search_id_Var"> </input>
                                     <p class="help">This search engine only accept Protein ID! If you enter a protein name your search will be treated like a search by keyword </p>

                                </div>
                                 <div class="control">
                                    <input class="button is-link " type="submit" value="Search"/>

                                </div>
                                 <br/>
                             </div>
                            </div>
                        </div>

                    <br/>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns">
        <div class="column">
            <div class="tabs">
                <ul>
                    <li class="is-active">
                        <a>Nomenclature
                            <div class="icon has-tooltip-right"
                                 data-tooltip="nomenclature made by the International Society of Amyloidosis (ISA)">
                                <i class="fas fa-question-circle"> </i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container is-fluid has-background-light is-marginless">
                <div class="smallmarg is-fluid content-tab">
                    <div class="field">
                        <br/>
                        <div id="nomenclature">
                        </div>
                        <div>
                            <br/>
                            <p>
                                Proteins are listed, when possible, according to relationship. Thus, apolipoproteins are grouped together, as are polypeptide hormones.<br/>

* ADan is the product of the same gene as ABri.<br/>

** Also called amylin.<br/>

*** Not proven by amino acid sequence analysis.<br/>

**** Full amino acid sequence to be established.<br/>
                            </p>
                            <br/>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}


{% block comp_script %}

<script>
    function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("for-display");
    for (i = 0; i< tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("searchTab");
    for (i = 0; i< tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace("is-active", "");
    }

    searchTabInputs = document.getElementsByClassName("searchTabInput");
    for (i=0; i< searchTabInputs.length;i++) {
    searchTabInputs[i].value = "";
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";

    }

    function insertLabel(label,eltId) {
    document.getElementById(eltId).value = label;
    }
</script>

<script>
$(document).ready(function(){
  $.ajax({
   url:"{{request.static_url('amypdb:static/table_nomenclature.csv')}}",
   dataType:"text",
   success:function(data)
   {
    var nom_data = data.split(/\r?\n|\r/);
    var table_data = '<table class="table table-bordered table-striped">';
    for(var count = 0; count<nom_data.length; count++)
    {
     var cell_data = nom_data[count].split("\",\"");
     table_data += '<tr>';
     for(var cell_count=0; cell_count<cell_data.length; cell_count++)
     {
        cell = cell_data[cell_count].replace('"','')
      if(count === 0)
      {
       table_data += '<th>'+cell+'</th>';
      }
      else
      {
       table_data += '<td>'+cell+'</td>';
      }
     }
     table_data += '</tr>';
    }
    table_data += '</table>';
    $('#nomenclature').html(table_data);
   }
  });
 });

</script>

{% endblock comp_script %}