<!DOCTYPE html>
<html lang="{{request.locale_name}}">

{% block head %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="pyramid web application">
        <meta name="author" content="Pylons Project">
        <link rel="shortcut icon" href="{{request.static_url('amypdb:static/pyramid-16x16.png')}}">
        <title>{% block title %}Amypdb{% endblock %}</title>

        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"> </script>
{% block more_scripts %}  {% endblock %}
{% block more_links %} {% endblock %}
        <link href="{{request.static_url('amypdb:static/directstyles.css')}}" rel="stylesheet"/>
        <link href="{{request.static_url('amypdb:static/bulma-tooltip.min.css')}}" rel="stylesheet"/>
    </head>

{% endblock head %}

    <body>

        {% block navbar %}
        <nav class="navbar is-transparent" id="mainmenu">
            <div class="navbar-brand">
                <a class="navbar-item is-primary" href="{{ request.route_url('home') }}">
                    <strong>AMYPdb</strong>
                </a>
                <a role="button" class="navbar-burger burger"
                   onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
                   data-target="navbarBasic">
                    <span aria-hidden="true"> </span>
                    <span aria-hidden="true"> </span>
                    <span aria-hidden="true"> </span>
                </a>
            </div>

            <div id="navbarBasic" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="{{ request.route_url('home') }}">Home</a>
                    <a class="navbar-item" href="{{ request.route_url('docu')}}">
                        Documentation
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            About
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                The team
                            </a>
                            <a class="navbar-item" href="{{ request.route_url('about_data')}}">
                                The Data
                            </a>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-link" href="https://forms.gle/gkbDBurSpJLfeTou8">
                                    <span class="icon">
                                        <i class="far fa-envelope-open"> </i>
                                    </span>
                                    <span>Contact</span>
                                </a>
                            </p>
                </div>
            </div>
        </nav>

        {% endblock navbar %}


        {% block content %}
        <p>Some content</p>

{% endblock content %}


{% block footer %}

        <br/>
        <br/>

        <footer class="footer">
            <p>
                <strong>AMYPdb</strong>
                 made by GenOuest - Université Rennes 1
            </p>
        </footer>

{% endblock footer %}


{% block comp_script %}


        <script>
        </script>

{% endblock comp_script %}

    </body>

</html>
