{% extends "layout.jinja2" %}


        {% block title %}Amypdb - Protein - {{ mainInfo["label"] }} {% endblock %}

        {% block more_scripts %}
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'> </script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'> </script>
<script src="http://ebi-uniprot.github.io/CDN/protvista/protvista.js"> </script>



<script>
function addPubMedLink(mytext) {
mytext = mytext.replace(/(PubMed)(:)([0-9]*)/gi, '
<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/$3">$1$2$3
    <span class="icon" style="color:hsla(210, 15%, 100%, 0.85)">
        <i class="fas fa-sign-out-alt"> </i>
    </span>
</a>
');
return mytext;
}
</script>
        {% endblock %}

        {% block more_links %}

<link href="http://ebi-uniprot.github.io/CDN/protvista/css/main.css" rel="stylesheet"/>
<link href="{{request.static_url('amypdb:static/mystyles_bluegreen.css')}}" rel="stylesheet">
{% endblock %}


{% block content %}


<!--<div class="is-divider" ></div> -->


<section class="hero is-medium is-primary is-bold">
    <div class="horizontal-margin">
        <div class="hero-body">

            <div class="columns">
                <div class="column is-three-quarters">
                    <h1 class="title">{{ mainInfo["label"] }}</h1>
                    {% set labels = mainInfo["altList"] %}
                    {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
                    <p class="alt_labels">Alternative labels : {{ labels }}</p>
                    {% set descript = mainInfo["description"] %}

                    {% if descript|length > 800 %}

                    <script>
                        var text1 = "{{ descript|truncate(800,True) }}";
                        var text2 = "{{ descript[796:] }}";

                        text1 = addPubMedLink(text1);
                        text2 = addPubMedLink(text2);

                    </script>
                    <input type="checkbox" class="read-more-state" id="post-1"/>
                    <h2 class="subtitle read-more-wrap">
                        <script>document.write(text1)</script>
                        <span class="read-more-target">
                            <script>document.write(text2)</script>
                        </span>
                        (Source :
                        <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot
                            <span class="icon" style="color:hsla(210,15%,100%,0.85)">
                                <i class="fas fa-sign-out-alt"> </i>
                            </span>
                        </a>
                        )
                    </h2>
                    <label for="post-1" class="read-more-trigger"> </label>

                    {% else %}

                    <script>
                        var text3 = "{{ descript }}";
                        text3 = addPubMedLink(text3);
                    </script>
                    <h2 class="subtitle">
                        <script>document.write(text3)</script>
                        (Source :
                        <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot
                            <span class="icon" style="color:hsla(210,15%,100%,0.85)">
                                <i class="fas fa-sign-out-alt"> </i>
                            </span>
                        </a>
                        )
                    </h2>


                    {% endif %}

                </div>

                <div class="column has-text-right">
                    <h2 class="subtitle">
                        <b>Organism :</b>
                        {{ mainInfo["organism"] }}
                    </h2>
                    {% set tags = mainInfo["qualiList"].split("|") %}
                    {% for tag in tags %}
                    <span class="hero_tag">{{ tag }}</span>
                    <br/>
                    {% endfor %}


                </div>

            </div><!-- end columns -->


        </div><!-- end hero-body -->

        <div class="hero-foot">

            <div style="margin-left: 2rem">
                <nav class="tabs is-boxed ">

                    <ul>
                        <li class="heroTab">
                            <a href="{{ request.route_url(route_name='protein_amy', itemId=itemId) }}#amy">Annotation
                                report
                            </a>
                        </li>
                        <li class="heroTab" id="bio">
                            <a href="{{ request.route_url(route_name='protein_bio', itemId=itemId) }}#bio">Biological
                                process
                            </a>
                        </li>
                        <li class="heroTab" id="seq">
                            <a href="{{ request.route_url(route_name='protein_seq', itemId=itemId) }}#seq">Sequence and
                                structure
                            </a>
                        </li>
                        <li class="heroTab is-active" id="var">
                            <a>
                                Variant
                            </a>
                        </li>
                        <li class="heroTab" >
                            <a href="{{ request.route_url(route_name='protein_patho', itemId=itemId) }}#patho">Pathology</a>
                        </li>
                        <li class="heroTab" id="pub">
                            <a href="{{ request.route_url(route_name='protein_pub', itemId=itemId) }}#pub">
                                Publications
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

        </div>

    </div> <!-- end container -->
</section>


<section class="section" id="var">
    <div class="has-text-centered is-primary margin-bottom">
        <h2 class="title">Known pathogenic variants <div class="icon has-tooltip-right has-tooltip-multiline" data-tooltip="
        only variant with a DisGeNET score > 0.2 are displayed." >
                    <i class="fas fa-question-circle"> </i>
                </div></h2>
    </div>
    {% if variantDict|length > 0 %}

    <div class="has-text-centered is-primary margin-bottom">

    </div>
    <table id="variantTable" class="table is-striped is-fullwidth">
        <thead>
            <tr>
                <th style="width:20%">Disease</th>
                <th style="width:10%">Variant</th>
                <th>Description</th>
                <th style="width:5%">Score</th>
            </tr>
        </thead>
        <tbody>
            {% for item in variantDict %}

            <tr>
                {% if item.disId != "" %}
                <td>
                    <a href="{{ request.route_url(route_name='disease', itemId=item.disId) }}">{{ item.disLabel }}</a>
                </td>
                {% else %}
                <td>{{ item.disLabel }}</td>
                {% endif %}
                <td>
                    <a href="{{ item.link|safe }}" target="_blank">{{ item.variantId }}</a>
                </td>
                <td>{{ item.variantDesc }}</td>
                <td>{{ item.score }}</td>
            </tr>


            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4 subclass="title"> No known pathogenic variant found</h4>

    {% endif %}

</section>


<section class="section">


<div class="has-text-centered is-primary margin-bottom">
    <h2 class="title">Sequence viewer : variants and mutagenesis <div class="icon has-tooltip-right has-tooltip-multiline" data-tooltip="you can here visualise the sequence of the variant if you can't
            use the grey bar to zoom in. There is also interesting information accessible in the dropdown menu 'variants' " >
                <i class="fas fa-question-circle"> </i>
            </div></h2>
    <div>Position and complementary information about variants and mutagenesis for the protein {{ mainInfo["label"] }}</div>
</div>
<div align="center">
    <div id="viewer" width="100%"> </div>
</div>
<script>
    window.onload = function() {
    var yourDiv = document.getElementById('viewer');
    var ProtVista = require('ProtVista');
    var instance = new ProtVista({
    el: yourDiv,
    uniprotacc: '{{ itemId }}',

    //These categories will **not** be rendered at all
    exclusions:
    ['PROTEOMICS','SEQUENCE_INFORMATION','ANTIGEN','MOLECULE_PROCESSING','STRUCTURAL','PTM','DOMAINS_AND_SITES','TOPOLOGY']
    });

    var catList = document.getElementsByClassName('up_pftv_category-tracks');
    for(var i=0, len=catList.length; i<len; i++)
    {
    catList[i].style.display = "block";
    }

    }


</script>


</section>


        {% endblock content %}


        {% block comp_script %}
<script>

$( document ).ready(function() {
$('#variantTable').dynatable({
features: {
paginate: true,
sort: true,
pushState: true,
search: false,
recordCount: false,
perPageSelect: false
}
});


});

</script>
        {% endblock %}