{% extends "layout.jinja2" %}


{% block title %}Amypdb - Protein - {{ mainInfo["label"] }} {% endblock %}

{% block more_scripts %}
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'> </script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'> </script>

<script src="http://ebi-uniprot.github.io/CDN/protvista/protvista.js"> </script>
<script src="//www.ebi.ac.uk/pdbe/pdb-component-library/libs/d3.min.js"> </script>
<script src="//www.ebi.ac.uk/pdbe/pdb-component-library/libs/angular.1.4.7.min.js"> </script>
<script src="//www.ebi.ac.uk/pdbe/pdb-component-library/v1.0/js/pdb.component.library.min-1.0.0.js"> </script>

<script>
function addPubMedLink(mytext) {
mytext = mytext.replace(/(PubMed)(:)([0-9]*)/gi, '
<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/$3">$1$2$3
    <span class="icon" style="color:hsla(210, 15%, 100%, 0.85)">
        <i class="fas fa-sign-out-alt"> </i>
    </span>
</a>
');
return mytext;
}
</script>
{% endblock %}

{% block more_links %}
<link rel="stylesheet" href="//www.ebi.ac.uk/pdbe/pdb-component-library/v1.0/css/pdb.component.library.min-1.0.0.css"/>
<link href="http://ebi-uniprot.github.io/CDN/protvista/css/main.css" rel="stylesheet"/>

<link href="{{request.static_url('amypdb:static/mystyles_bluegreen.css')}}" rel="stylesheet">
{% endblock %}


{% block content %}

</style>

<section class="hero is-medium is-primary is-bold">
<div class="horizontal-margin">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-three-fifths">
                <h1 class="title">{{ mainInfo["label"] }}</h1>
                {% set labels = mainInfo["altList"] %}
                {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
                <p class="alt_labels">Alternative labels : {{ labels }}</p>
                {% set descript = mainInfo["description"] %}
                {% if descript|length > 800 %}

                <script>
                    var text1 = "{{ descript|truncate(800,True) }}";
                    var text2 = "{{ descript[796:] }}";
                    text1 = addPubMedLink(text1);
                    text2 = addPubMedLink(text2);
                </script>

                <input type="checkbox" class="read-more-state" id="post-1"/>
                <h2 class="subtitle read-more-wrap">
                    <script>document.write(text1)</script>
                    <span class="read-more-target">
                        <script>document.write(text2)</script>
                    </span>
                    (Source :
                    <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot
                        <span class="icon" style="color:hsla(210,15%,100%,0.85)">
                            <i class="fas fa-sign-out-alt"> </i>
                        </span>
                    </a>
                    )
                </h2>
                <label for="post-1" class="read-more-trigger"> </label>

                {% else %}

                <script>
                    var text3 = "{{ descript }}";
                    text3 = addPubMedLink(text3);
                </script>
                <h2 class="subtitle">
                    <script>document.write(text3)</script>
                    (Source :
                    <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot
                        <span class="icon" style="color:hsla(210,15%,100%,0.85)">
                            <i class="fas fa-sign-out-alt"> </i>
                        </span>
                    </a>
                    )
                </h2>
                {% endif %}
            </div>

            <div class="column has-text-right">
                <h2 class="subtitle">
                    <b>Organism :</b>
                    {{ mainInfo["organism"] }}
                </h2>
                {% set tags = mainInfo["qualiList"].split("|") %}
                {% for tag in tags %}
                <span class="hero_tag">{{ tag }}</span>
                <br/>
                {% endfor %}


            </div>

        </div><!-- end columns -->
    </div><!-- end hero-body -->

    <div class="hero-foot">

        <div style="margin-left: 2rem">
            <nav class="tabs is-boxed ">
                <ul>
                    <li class="heroTab">
                        <a href="{{ request.route_url(route_name='protein_amy', itemId=itemId) }}#amy">Annotation
                            report
                        </a>
                    </li>
                    <li class="heroTab" id="bio">
                        <a href="{{ request.route_url(route_name='protein_bio', itemId=itemId) }}#bio">Biological
                            process
                        </a>
                    </li>
                    <li class="is-active heroTab" id="seq">
                        <a>Sequence and structure</a>
                    </li>
                    <li class="heroTab">
                            <a href="{{ request.route_url(route_name='protein_var', itemId=itemId) }}#var">
                                Variant
                            </a>
                    </li>
                    <li class="heroTab" id="patho">
                        <a href="{{ request.route_url(route_name='protein_patho', itemId=itemId) }}#patho">Pathology</a>
                    </li>
                    <li class="heroTab" id="pub">
                        <a href="{{ request.route_url(route_name='protein_pub', itemId=itemId) }}#pub">Publications</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</div> <!-- end hmargin -->

</section>


<section class="section">


<div class="has-text-centered is-primary">
<h2 class="title greyblue">Primary structure <div class="icon has-tooltip-right has-tooltip-multiline" data-tooltip="
provide a lots of information on the protein sequence of each isoform"> <i class="fas fa-question-circle"> </i>
</div> </h2>

{% if isoDict|length > 1 %}
<div>{{ mainInfo["label"] }} has {{ isoDict|length }} isoforms. The canonical isoform is {{ isoCanoLabel }}</div>
{% else %}
<div>{{ mainInfo["label"] }} has {{ isoDict|length }} isoform. The canonical isoform is {{ isoCanoLabel }}</div>
{% endif %}
<br/>
{% if isoDict|length > 4 %}

<div id="containTableShort" style="display:block">

    <table id="seqTableShort" class="table is-striped is-fullwidth">
        <thead>
            <tr>
                <th>Isoform</th>
                <th>Length</th>
                <th>Sequence</th>
                <th>Instability Index</th>
                <th>Molecular weight</th>
                <th>Isoelectric Point</th>
                <th>Matching signatures</th>
            </tr>
        </thead>
        <tbody>


            {% for item in isoDict %}
            {% if loop.index
            <
            4 %}

            <tr>
                <td>
                    <span class="tag is-primary">{{ item.isoAcc }}</span>
                </td>
                <td>{{ item.isoLength }}</td>
                <td>
                    <span class="is-size-7">{{ item.isoSeq }}</span>
                </td>
                <td>{{ item.isoInstability }}</td>
                <td>{{ item.isoMolWeight }}</td>
                <td>{{ item.isoElectricPoint }}</td>
                <td>
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                                <span>{{ item.nbSignature }}</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"> </i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content" style="width:420px;position:relative;left:-200px">
                                <div class="dropdown-item" style="width:420px">
                                    <p>{{ item.signInfoList|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>


            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <a class="button" onclick="myToggle('containTableShort');myToggle('containTable');">Show all isoforms</a>
</div>

{% endif %}

{% if isoDict|length > 4 %}

<div id="containTable" style="display:none">
    {% endif %}

    <table id="seqTable" class="table is-striped is-fullwidth">
        <thead>
            <tr>
                <th>Isoform</th>
                <th>Length</th>
                <th>Sequence</th>
                <th>Instability Index</th>
                <th>Molecular weight&nbsp;(Da)</th>
                <th>Isoelectric Point</th>
                <th>Matching signatures</th>
            </tr>
        </thead>
        <tbody>


            {% for item in isoDict %}

            <tr>
                <td>
                    <span class="tag is-primary">{{ item.isoAcc }}</span>
                </td>
                <td>{{ item.isoLength }}</td>
                <td>
                    <span class="is-size-7">{{ item.isoSeq }}</span>
                </td>
                <td>{{ item.isoInstability }}</td>
                <td>{{ item.isoMolWeight }}</td>
                <td>{{ item.isoElectricPoint }}</td>
                <td>
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                                <span>{{ item.nbSignature }}</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content" style="width:420px;position:relative;left:-200px">
                                <div class="dropdown-item" style="width:420px">
                                    <p>{{ item.signInfoList|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>


            {% endfor %}
        </tbody>
    </table>


    {% if isoDict|length > 4 %}
    <a class="button" onclick="myToggle('containTableShort');myToggle('containTable');">Fold up</a>
</div>
{% endif %}


</section>


<section class="section">
<div class="has-text-centered is-primary">
    <h2 class="title greyblue">Secondary structure
        <div class="icon has-tooltip-right has-tooltip-multiline" data-tooltip="you can here visualise all the secondary structures
        such as helix on the protein sequence ">
                <i class="fas fa-question-circle"> </i>
            </div></h2>
    <div>Description of the secondary structure of the canonical isoform {{ isoCanoLabel }}</div>
    <br/>
</div>
<div width="100%" align="center">
    <div id="viewerFull" width="100%"> </div>
    <script>
        window.onload = function() {
        var viewerFull = document.getElementById('viewerFull');
        var ProtVista = require('ProtVista');
        var instance = new ProtVista({
        el: viewerFull,
        uniprotacc: '{{ itemId }}',

        //These categories will **not** be rendered at all
        exclusions:
        ['PROTEOMICS','SEQUENCE_INFORMATION','ANTIGEN','VARIATION','MOLECULE_PROCESSING','MUTAGENESIS','PTM','DOMAINS_AND_SITES','TOPOLOGY']
        });

        }

    </script>
</div>
</section>

<section class="section">

<div class="has-text-centered is-primary">
    <h2 class="title">Tertiary structure
    <div class="icon has-tooltip-right has-tooltip-multiline" data-tooltip="">
                <i class="fas fa-question-circle"> </i>
            </div></h2>
    <div>List of PDB structures associated to {{ mainInfo["label"] }}</div>
    <br/>
</div>

<div align="center">
    {% if bestPdbId != "" %}
    <script>
        (function () {
        'use strict';
        angular.element(document).ready(function () {
        angular.bootstrap(document, ['pdb.component.library']);
        });
        }());
    </script>

    <!--<pdb-lite-mol pdb-id="'1cbs'"></pdb-lite-mol>-->
    <pdb-uniprot-viewer entry-id="{{ itemId }}" width="960"> </pdb-uniprot-viewer>
    {% else %}
    No information available
    {% endif %}
</div>


{% if bestPdbId != "" %}
<br/>
<div align="center" style="margin-top">
    <div>Best PDB structure matching {{ mainInfo["label"] }}</div>
    <div style="position:relative;height:800px;width:960px;margin: auto">
        <pdb-lite-mol pdb-id="'{{ bestPdbId }}'" hide-controls="true"></pdb-lite-mol>
    </div>
    <script>
        callSetBg()
    </script>
</div>
{% endif %}

</section>


        {% endblock content %}

        {% block comp_script %}
<script>

$( document ).ready(function() {
$('#seqTable').dynatable({
features: {
paginate: true,
sort: true,
pushState: true,
search: false,
recordCount: false,
perPageSelect: false
}
});

{% if isoDict|length > 4 %}
$('#seqTableShort').dynatable({
features: {
paginate: true,
sort: true,
pushState: true,
search: false,
recordCount: false,
perPageSelect: false
}
});
{% endif %}

});


function myToggle(elt) {
var x = document.getElementById(elt);
if (x.style.display === "none") {
x.style.display = "block";
} else {
x.style.display = "none";
}
}

</script>
        {% endblock %}
