{% extends "layout.jinja2" %}


{% block title %}Amypdb - Protein - {{ mainInfo["label"] }} {% endblock %}

{% block more_scripts %}

<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'> </script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'> </script>


<script>
function addPubMedLink(mytext) {
mytext = mytext.replace(/(PubMed)(:)([0-9]*)/gi, '
<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/$3">$1$2$3
    <span class="icon" style="color:hsla(210, 15%, 100%, 0.85)">
        <i class="fas fa-sign-out-alt"> </i>
    </span>
</a>
');
return mytext;
}
</script>
{% endblock %}

{% block more_links %}

<link href="{{request.static_url('amypdb:static/mystyles_bluegreen.css')}}" rel="stylesheet">
{% endblock %}


{% block content %}


<!--<div class="is-divider" ></div> -->

<section class="hero is-medium is-primary is-bold">
    <div class="horizontal-margin">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-three-quarters">
                    <h1 class="title">{{ mainInfo["label"] }}</h1>
                    {% set labels = mainInfo["altList"] %}
                    {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
                    <p class="alt_labels">Alternative labels : {{ labels }}</p>
                    {% set descript = mainInfo["description"] %}

                    {% if descript|length > 800 %}

                    <script>
                        var text1 = "{{ descript|truncate(800,True) }}";
                        var text2 = "{{ descript[796:] }}";

                        text1 = addPubMedLink(text1);
                        text2 = addPubMedLink(text2);

                    </script>
                    <input type="checkbox" class="read-more-state" id="post-1"/>
                    <h2 class="subtitle read-more-wrap">
                        <script>document.write(text1)</script>
                        <span class="read-more-target">
                            <script>document.write(text2)</script>
                        </span>
                        (Source :
                        <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot
                            <span class="icon" style="color:hsla(210,15%,100%,0.85)">
                                <i class="fas fa-sign-out-alt"> </i>
                            </span>
                        </a>
                        )
                    </h2>
                    <label for="post-1" class="read-more-trigger"> </label>

                    {% else %}

                    <script>
                        var text3 = "{{ descript }}";
                        text3 = addPubMedLink(text3);
                    </script>
                    <h2 class="subtitle">
                        <script>document.write(text3)</script>
                        (Source :
                        <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot
                            <span class="icon" style="color:hsla(210,15%,100%,0.85)">
                                <i class="fas fa-sign-out-alt"> </i>
                            </span>
                        </a>)
                    </h2>

                    {% endif %}

                </div>

                <div class="column has-text-right">
                    <h2 class="subtitle">
                        <b>Organism :</b>
                        {{ mainInfo["organism"] }}
                    </h2>

                    {% set tags = mainInfo["qualiList"].split("|") %}
                    {% for tag in tags %}
                    <span class="hero_tag">{{ tag }}</span>
                    <br/>
                    {% endfor %}
                </div>
            </div><!-- end columns -->
        </div><!-- end hero-body -->

        <div class="hero-foot">
            <div style="margin-left: 2rem">
                <nav class="tabs is-boxed ">

                    <ul>
                        <li class="is-active heroTab" id="amy">
                            <a>Annotation report</a>
                        </li>
                        <li class="heroTab">
                            <a href="{{ request.route_url(route_name='protein_bio', itemId=itemId) }}#bio">Biological
                                process
                            </a>
                        </li>
                        <li class="heroTab">
                            <a href="{{ request.route_url(route_name='protein_seq', itemId=itemId) }}#seq">Sequence and
                                structure
                            </a>
                        </li>
                        <li class="heroTab">
                            <a href="{{ request.route_url(route_name='protein_var', itemId=itemId) }}#var">
                                Variant
                            </a>
                        </li>
                        <li class="heroTab">
                            <a href="{{ request.route_url(route_name='protein_patho', itemId=itemId) }}#patho">
                                Pathology
                            </a>
                        </li>
                        <li class="heroTab">
                            <a href="{{ request.route_url(route_name='protein_pub', itemId=itemId) }}#pub">
                                Publications
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div> <!-- end horizontal-margin-->
</section>


<section class="section">

    <div class="has-text-centered is-primary margin-bottom">
        <h2 class="title">Annotation report
        <div class="icon has-tooltip-right has-tooltip-multiline" data-tooltip=" This tab reference all the the annotation linked. Don't hesitate to navigate through the different pages on the bottom of this page">
                <i class="fas fa-question-circle"> </i>
            </div></h2>
        <div>{{ annotDict|length }} annotation{% if annotDict|length > 1 %}s{% endif %} related to amyloidy for this
            protein
        </div>
    </div>

    <table id="annotTable" class="table is-striped is-fullwidth">
        <thead>
            <tr>
                <th>Tag</th>
                <th style="width:55%">Description</th>
                <th>Source</th>
                <th>Based on</th>
            </tr>
        </thead>
        <tbody>

            {% for item in annotDict %}

            <tr>
                <td>
                    <span class="tag is-primary">{{ item.qualiLabel }}</span>
                </td>
                <td>{{ item.desc }}</td>
                <td>{{ item.source1 }} / {{ item.sourceList }}</td>
                {% if item.indicator.startswith('http') %}
                {% set url = item.indicator.split('/') %}
                <td>
                    <a href="{{ item.indicator }}">{{ url[-1] }}</a>
                </td>
                {% else %}
                <td>{{ item.indicator|truncate(80,False) }}</td>

                {% endif %}
                <!--<td>{{ item.nbPub }}</td> -->
            </tr>

            {% endfor %}
        </tbody>
    </table>

</section>

<!--
<section class="section">

<div class="has-text-centered is-primary margin-top" >
<h2 class="title greyblue" >Publications related to amyloidy</h2>
<div>Publications about {{ mainInfo["label"] }} and  related to amyloidy </div>
</div>

</section>
-->

{% endblock content %}

{% block comp_script %}
<script>
    $( document ).ready(function() {
    $('#annotTable').dynatable({
    features: {
    paginate: true,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
    }
    });


    });

</script>
{% endblock %}

