{% extends "layout.jinja2" %}


{% block title %}Amypdb - Protein - {{ mainInfo["label"] }} {% endblock %}

{% block more_scripts %}

<script>
function addPubMedLink(mytext) {
mytext = mytext.replace(/(PubMed)(:)([0-9]*)/gi, '<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/$3">$1$2$3 <span class="icon" style="color:hsla(210, 15%, 100%, 0.85)"><i class="fas fa-sign-out-alt"></i></span></a>');
return mytext;
}
</script>
{% endblock %}
{% block more_links %}
  <link rel="stylesheet" href="{{ request.static_url('amypdb:static/timeline.min.css') }}" />
      <link href="{{request.static_url('amypdb:static/mystyles_bluegreen.css')}}" rel="stylesheet">

{% endblock %}
{% block content %}


<!--<div class="is-divider" ></div> -->



  <section class="hero is-medium is-primary is-bold">
         <div class="horizontal-margin" >
    <div class="hero-body">

      <div class="columns">
         <div class="column is-three-quarters">
        <h1 class="title">{{ mainInfo["label"] }}</h1>
        {% set labels = mainInfo["altList"] %}
        {% if labels|length > 200 %} {% set labels = labels|truncate(200, False) %} {% endif %}
        <p class="alt_labels">Alternative labels :  {{ labels }}  </p>
       {% set descript = mainInfo["description"] %}

       {% if descript|length > 800 %}

 <script>
var text1 = "{{ descript|truncate(800,True) }}";
var text2 = "{{ descript[796:] }}";

text1 = addPubMedLink(text1);
text2 = addPubMedLink(text2);

</script>
       <input type="checkbox" class="read-more-state" id="post-1" />
        <h2 class="subtitle read-more-wrap"><script>document.write(text1)</script> 
        <span class="read-more-target"><script>document.write(text2)</script></span> 
        (Source : <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>
        <label for="post-1" class="read-more-trigger"></label>

        {% else %}

 <script>
var text3 = "{{ descript }}";
text3 = addPubMedLink(text3);
</script>
        <h2 class="subtitle"><script>document.write(text3)</script> (Source : <a target="_blank" href="https://www.uniprot.org/uniprot/{{ itemId }}">Uniprot <span class="icon" style="color:hsla(210,15%,100%,0.85)"><i class="fas fa-sign-out-alt"></i></span></a>) </h2>


        {% endif %}

           </div>

           <div class="column has-text-right">
           <h2 class="subtitle"><b>Organism : </b> {{ mainInfo["organism"] }} </h2>
           {% set tags = mainInfo["qualiList"].split("|") %}
            {% for tag in tags %}
            <span class="hero_tag">{{ tag }}</span><br />
             {% endfor %}
            

           </div>

        </div><!-- end columns -->


</div><!-- end hero-body -->

<div class="hero-foot">

   <div style="margin-left: 2rem">
    <nav class="tabs is-boxed ">
 
        <ul>
          <li class="heroTab" >
            <a href="{{ request.route_url(route_name='protein_amy', itemId=itemId) }}#amy">Annotation report</a>
          </li>
          <li class="heroTab" id="bio">
            <a href="{{ request.route_url(route_name='protein_bio', itemId=itemId) }}#bio">Biological process</a>
          </li>
          <li class="heroTab" id="seq">
            <a href="{{ request.route_url(route_name='protein_seq', itemId=itemId) }}#seq">Sequence and structure</a>
          </li>
          <li class="heroTab">
              <a href="{{ request.route_url(route_name='protein_var', itemId=itemId) }}#var">Variant</a>
          </li>
          <li class="heroTab" id="patho">
            <a href="{{ request.route_url(route_name='protein_patho', itemId=itemId) }}#patho">Pathology</a>
          </li>
          <li class="is-active heroTab" id="pub">
            <a>Publications</a>
          </li>
        </ul>
 
    </nav>
</div>

</div>

</div> <!-- end hmargin -->

  </section>



<section class="section">
<div class="has-text-centered is-primary" > 
<h2 class="title greyblue">Publications</h2>
<div>Publications listed and reviewed in Uniprot for {{ mainInfo["label"] }}  </div>
</div>



<div align="center" style="width: 70%; margin:auto">
<div class="timeline"  align="left" >
  <header class="timeline-header">
    <span class="tag is-medium is-primary">{{ pubDict[0].date }}</span>
  </header>
  

{% for item in pubDict %}

{% if loop.index > 1 %}
{% if item.date|string() != loop.previtem.date|string() %}

  <header class="timeline-header">
    <span class="tag is-medium is-primary">{{ item.date }}</span>
  </header>

{% endif %}
{% endif %}

<div class="timeline-item is-primary" >
    <div class="timeline-marker is-primary"></div>
    <div class="timeline-content" style="width:95%">
      <p><a href="{{ item.pubmed }}" target="_blank"><b>"{{ item.title }}"</b></a></p>
      <p>{{ item.authors }}</p>
      <p>{{ item.name }} {{ item.volume }}:{{ item.pages }} </p>
    </div>
  </div>

{% endfor %}

</div>

</div>

<div align="center">
<a class="button" href="https://www.uniprot.org/uniprot/{{ itemId }}/publications" target="_blank"> View the complete list of publications in Uniprot <span style="color:white">...</span><span class="icon is-small"><i class="fas fa-sign-out-alt"></i></span></a>
</div>



</section>







{% endblock content %}



