{% extends "layout.jinja2" %}


        {% block title %}Amypdb - Search Results{% endblock %}


        {% block more_scripts %}
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js'></script>
<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'> </script>

        {% endblock  %}


        {% block more_links %}
        <!--  <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> -->
<link href="{{request.static_url('amypdb:static/mystyles_purple.css')}}" rel="stylesheet">

{% endblock %}

{% block content %}


<section class="hero is-medium is-primary is-bold">
    <div class="horizontal-margin">
    <div class="hero-body">

        <div class="columns">
            <div class="column is-three-fifths">
                <h1 class="title">Results for "{{ search_item }}"</h1>
                {% if resultGene|length<1 and resultProtein|length<1 and resultDisease|length<1 %}
                <h2 class="subtitle">No results found
                    <br/>
                    Try another search or check one of the suggestions below
                </h2>
                {% else %}
                <h2 class="subtitle">
                    {% if resultGene|length > 0 %}
                    - {{ resultGene|length }} gene{% if resultGene|length > 1 %}s{% endif %}
                    {% endif %}
                    {% if resultProtein|length > 0 %}
                    - {{ resultProtein|length }} protein{% if resultProtein|length > 1 %}s{% endif %}
                    {% endif %}
                    {% if resultDisease|length > 0 %}
                    - {{ resultDisease|length }} disease{% if resultDisease|length > 1 %}s{% endif %}
                    {% endif %}
                </h2>
                {% endif %} <!-- end of test for nb results -->
            </div>
            <div class="column has-text-right">
            </div>
        </div><!-- end columns -->


    </div><!-- end hero-body -->

</section>


{% if resultGene|length
<
1 and resultProtein|length
<
1 and resultDisease|length
<
1 %}

<section class="section">

    <div class="has-text-centered margin-bottom">
        <h2 class="title">Why not check one of those suggestions ?</h2>
        <div>It might not be what you were looking for in the first place, but it might be interesting anyway...</div>
    </div>

    <div align="center" style="width:50%;margin:auto">

        <ul class="has-text-centered">
            {% for item in suggestions %}
            <li>
                <a href="{{ request.route_url(route_name='protein_amy', itemId=item.entityId) }}">{{ item.entityLabel }}
                    ({{ item.orgLabel }})
                </a>
            </li>
            {% endfor %}
        </ul>


    </div><!-- end center-->

</div> <!-- end hmargin -->

</section>

        {% else %}

        {% if resultGene|length > 0 %}
<section class="section">
<div class="has-text-centered margin-bottom">
    <h2 class="title">Genes</h2>
</div>


<table id="geneTable" class="table is-striped is-fullwidth">
    <thead>
        <th>Id</th>
        <th>Gene</th>
        <th>Description</th>
        <th style="width: 150px">Organism</th>
    </thead>
    <tbody>

        {% for item in resultGene %}
        <tr>
            <td>
                <a href="{{ request.route_url(route_name='gene', itemId=item.entityId) }}">{{ item.entityId }}</a>
            </td>
            <td>{{ item.entityLabel }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.orgLabel }}</td>
        </tr>

        {% endfor %}

    </tbody>
</table>


</section>
        {% endif %}

        {% if resultProtein|length > 0 %}
<section class="section">
<div class="has-text-centered margin-bottom">
    <h2 class="title">Proteins</h2>
</div>


<table id="proteinTable" class="table is-striped is-fullwidth">
    <thead>
        <th>Id</th>
        <th>Protein</th>
        <th>Description</th>
        <th style="width: 150px">Organism</th>
        <th>Tag</th>
    </thead>
    <tbody>

        {% for item in resultProtein %}
        <tr>
            <td>
                <a href="{{ request.route_url(route_name='protein_amy', itemId=item.entityId) }}">{{ item.entityId }}
                </a>
            </td>
            <td>{{ item.entityLabel }}</td>
            <td>{{ item.description|truncate(140,False) }}</td>
            <td style="width: 100px">{{ item.orgLabel }}</td>
            <td>{% if item.qualifier != "" %}<span class="tag is-info">{{ item.qualifier }}</span>{% endif %}
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>


</section>
        {% endif %}


        {% if resultDisease|length > 0 %}
<section class="section">
<div class="has-text-centered margin-bottom">
    <h2 class="title">Diseases</h2>
</div>


<table id="diseaseTable" class="table is-striped is-fullwidth">
    <thead>
        <th>Id</th>
        <th>Disease</th>
        <th>Description</th>
        <th>Tag</th>
    </thead>
    <tbody>

        {% for item in resultDisease %}
        <tr>
            <td>
                <a href="{{ request.route_url(route_name='disease', itemId=item.entityId) }}">{{ item.entityId }}</a>
            </td>
            <td>{{ item.entityLabel }}</td>
            <td>{{ item.description|truncate(100,False) }}</td>
            <td>{%if item.qualifier != "" %}<span class="tag is-info">{{ item.qualifier }}</span>{% endif %}
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>


</section>
        {% endif %}


        {% endif %}


        {% endblock content %}

        {% block comp_script %}
<script>
$( document ).ready(function() {
$('#geneTable').dynatable({
features: {
paginate: true,
sort: true,
pushState: true,
search: false,
recordCount: false,
perPageSelect: false
}
});


$('#proteinTable').dynatable({
features: {
paginate: true,
sort: true,
pushState: true,
search: false,
recordCount: false,
perPageSelect: false
}
});

$('#diseaseTable').dynatable({
features: {
paginate: true,
sort: true,
pushState: true,
search: false,
recordCount: false,
perPageSelect: false
}
});
});
</script>
        {% endblock %}

