{% extends "layout.jinja2" %}

{% block title %}Amylome - Home{% endblock %}

{% block more_links %}
    <link href="{{request.static_url('amypdb:static/mystyles_purple.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

  <section class="hero is-large is-primary is-bold">
    <div class="hero-body">
<div class="horizontal-margin">
   <div class="columns">
	 <div class="column is-three-quarters">
        <h1 class="title">AMYLOME</h1>
        <h2 class="subtitle">Sorry, our service is temporarily unavailable. <br /> Come back in a few hours, everything should be fine and running again !
          </h2>
      	</div>
	<div class="column">.
	</div>
	</div>
</div>
</div>
  </section>





{% endblock content %} 




